Repository oceanbase/oceanbase-design, pull requests merged in 2023-09, with the labels that each got.

#122 chore(deps): pnpm update deps
  .dumi/pages/index/components/SiteContext.ts
  .dumi/theme/slots/SiteContext.ts
  .dumirc.ts
  package.json
  packages/design/package.json
  packages/ui/package.json
  packages/ui/src/Ranger/__test__/index.test.tsx
  packages/ui/src/TagSelect/TagSelectContext.ts
  pnpm-lock.yaml
Labels: dependencies

#124 fix(design): genSizeStyle should cover default style for Spin
  packages/design/src/spin/style/index.ts
Labels: bug, @oceanbase/design, Spin

#125 fix(design): navigate should work in nested ConfigProvider
  packages/design/src/config-provider/__tests__/__snapshots__/spin.test.tsx.snap
  packages/design/src/config-provider/__tests__/navigate.test.tsx
  packages/design/src/config-provider/__tests__/spin.test.tsx
  packages/design/src/config-provider/index.tsx
Labels: bug, @oceanbase/design, ConfigProvider

#132 fix(design & ui): TS type error for component token
  packages/design/src/button/style/index.ts
  packages/design/src/card/style/index.ts
  packages/design/src/descriptions/style/index.ts
  packages/design/src/modal/__tests__/__snapshots__/progress.test.tsx.snap
  packages/design/src/table/style/index.ts
  packages/ui/src/BasicLayout/style/index.ts
  packages/ui/src/PageContainer/style/index.ts
  packages/ui/src/TagSelect/style/index.ts
Labels: @oceanbase/design, Test

#138 feat(codemod): Add multiple transformers for package migration
  packages/codemod/README.md
  packages/codemod/package.json
  packages/codemod/src/bin/cli.js
  packages/codemod/src/bin/codemod.ignore
  packages/codemod/src/bin/codemod.js
  packages/codemod/src/bin/upgrade-list.json
  packages/codemod/src/transforms/__testfixtures__/.eslintrc.js
  packages/codemod/src/transforms/__testfixtures__/antd-charts-to-oceanbase-charts/antd-charts.input.tsx
  packages/codemod/src/transforms/__testfixtures__/antd-charts-to-oceanbase-charts/antd-charts.output.tsx
  packages/codemod/src/transforms/__testfixtures__/antd-to-oceanbase-design/antd.input.tsx
  packages/codemod/src/transforms/__testfixtures__/antd-to-oceanbase-design/antd.output.tsx
  packages/codemod/src/transforms/__testfixtures__/antd-to-oceanbase-design/bigfish-antd.input.tsx
  packages/codemod/src/transforms/__testfixtures__/antd-to-oceanbase-design/bigfish-antd.output.tsx
  packages/codemod/src/transforms/__testfixtures__/obui-to-oceanbase-design-and-ui/obui.input.tsx
  packages/codemod/src/transforms/__testfixtures__/obui-to-oceanbase-design-and-ui/obui.output.tsx
  packages/codemod/src/transforms/__testfixtures__/obutil-to-oceanbase-util/obutil.input.tsx
  packages/codemod/src/transforms/__testfixtures__/obutil-to-oceanbase-util/obutil.output.tsx
  packages/codemod/src/transforms/__testfixtures__/techui-to-oceanbase-ui/pro-components.input.tsx
  packages/codemod/src/transforms/__testfixtures__/techui-to-oceanbase-ui/pro-components.output.tsx
  packages/codemod/src/transforms/__testfixtures__/techui-to-oceanbase-ui/techui.input.tsx
  packages/codemod/src/transforms/__testfixtures__/techui-to-oceanbase-ui/techui.output.tsx
  packages/codemod/src/transforms/__tests__/antd-charts-to-oceanbase-charts.test.ts
  packages/codemod/src/transforms/__tests__/antd-to-oceanbase-design.test.ts
  packages/codemod/src/transforms/__tests__/obui-to-oceanbase-design-and-ui.test.ts
  packages/codemod/src/transforms/__tests__/obutil-to-oceanbase-util.test.ts
  packages/codemod/src/transforms/__tests__/techui-to-oceanbase-ui.test.ts
  packages/codemod/src/transforms/antd-charts-to-oceanbase-charts.js
  packages/codemod/src/transforms/antd-to-oceanbase-design.js
  packages/codemod/src/transforms/obui-to-oceanbase-design-and-ui.js
  packages/codemod/src/transforms/obutil-to-oceanbase-util.js
  packages/codemod/src/transforms/techui-to-oceanbase-ui.js
  packages/codemod/src/transforms/utils/config.js
  packages/codemod/src/transforms/utils/import-component.js
  packages/codemod/src/transforms/utils/index.js
  packages/codemod/src/transforms/utils/marker.js
  packages/design/package.json
  packages/icons/package.json
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/util/package.json
  pnpm-lock.yaml
Labels: @oceanbase/codemod

#98 feat(design): Badge 新增 icon 属性，支持状态图标
  .dumirc.ts
  packages/design/src/badge/IconBadge.tsx
  packages/design/src/badge/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/badge/__tests__/index.test.tsx
  packages/design/src/badge/demo/basic.tsx
  packages/design/src/badge/demo/icon-badge.tsx
  packages/design/src/badge/demo/icon.tsx
  packages/design/src/badge/index.md
  packages/design/src/badge/index.ts
  packages/design/src/badge/index.tsx
  packages/design/src/badge/style/index.ts
  packages/design/src/badge/style/waiting.png
  packages/design/src/config-provider/index.tsx
  packages/design/src/index.ts
Labels: enhancement, @oceanbase/design, Badge

#139 refact(design): Better implementation and style for Badge
  packages/design/src/badge/IconBadge.tsx
  packages/design/src/badge/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/badge/__tests__/index.test.tsx
  packages/design/src/badge/demo/status-custom-icon.tsx
  packages/design/src/badge/demo/status-icon.tsx
  packages/design/src/badge/demo/status.tsx
  packages/design/src/badge/index.md
  packages/design/src/badge/index.tsx
  packages/design/src/badge/style/index.ts
  packages/design/src/badge/style/waiting.png
Labels: @oceanbase/design, Badge

#140 fix(codemod): Adjust directory structure for correct bin path
  packages/codemod/bin/cli.js
  packages/codemod/bin/codemod.ignore
  packages/codemod/bin/codemod.js
  packages/codemod/bin/upgrade-list.json
  packages/codemod/transforms/__testfixtures__/.eslintrc.js
  packages/codemod/transforms/__testfixtures__/antd-charts-to-oceanbase-charts/antd-charts.input.tsx
  packages/codemod/transforms/__testfixtures__/antd-charts-to-oceanbase-charts/antd-charts.output.tsx
  packages/codemod/transforms/__testfixtures__/antd-to-oceanbase-design/antd.input.tsx
  packages/codemod/transforms/__testfixtures__/antd-to-oceanbase-design/antd.output.tsx
  packages/codemod/transforms/__testfixtures__/antd-to-oceanbase-design/bigfish-antd.input.tsx
  packages/codemod/transforms/__testfixtures__/antd-to-oceanbase-design/bigfish-antd.output.tsx
  packages/codemod/transforms/__testfixtures__/obui-to-oceanbase-design-and-ui/obui.input.tsx
  packages/codemod/transforms/__testfixtures__/obui-to-oceanbase-design-and-ui/obui.output.tsx
  packages/codemod/transforms/__testfixtures__/obutil-to-oceanbase-util/obutil.input.tsx
  packages/codemod/transforms/__testfixtures__/obutil-to-oceanbase-util/obutil.output.tsx
  packages/codemod/transforms/__testfixtures__/techui-to-oceanbase-ui/pro-components.input.tsx
  packages/codemod/transforms/__testfixtures__/techui-to-oceanbase-ui/pro-components.output.tsx
  packages/codemod/transforms/__testfixtures__/techui-to-oceanbase-ui/techui.input.tsx
  packages/codemod/transforms/__testfixtures__/techui-to-oceanbase-ui/techui.output.tsx
  packages/codemod/transforms/__tests__/antd-charts-to-oceanbase-charts.test.ts
  packages/codemod/transforms/__tests__/antd-to-oceanbase-design.test.ts
  packages/codemod/transforms/__tests__/obui-to-oceanbase-design-and-ui.test.ts
  packages/codemod/transforms/__tests__/obutil-to-oceanbase-util.test.ts
  packages/codemod/transforms/__tests__/techui-to-oceanbase-ui.test.ts
  packages/codemod/transforms/antd-charts-to-oceanbase-charts.js
  packages/codemod/transforms/antd-to-oceanbase-design.js
  packages/codemod/transforms/obui-to-oceanbase-design-and-ui.js
  packages/codemod/transforms/obutil-to-oceanbase-util.js
  packages/codemod/transforms/techui-to-oceanbase-ui.js
  packages/codemod/transforms/utils/config.js
  packages/codemod/transforms/utils/import-component.js
  packages/codemod/transforms/utils/index.js
  packages/codemod/transforms/utils/marker.js
Labels: bug, @oceanbase/codemod

#142 🐞 fix(design): spin and theme should inherit from parent context for ConfigProvider
  packages/design/src/config-provider/__tests__/theme.test.tsx
  packages/design/src/config-provider/index.tsx
  packages/design/src/config-provider/navigate.ts
Labels: bug, @oceanbase/design, ConfigProvider

#144 chore: Format code by prettier
  .dumi/theme/builtins/ComponentOverview/index.tsx
  .dumi/theme/builtins/DemoWrapper/index.tsx
  .dumi/theme/common/styles/Icon.tsx
  .dumi/theme/common/styles/Markdown.tsx
  .dumi/theme/common/styles/NProgress.tsx
  .dumi/theme/common/styles/PreviewImage.tsx
  .dumi/theme/common/styles/Reset.tsx
  .dumirc.ts
  .prettierignore
  packages/charts/src/DualAxes/index.md
  packages/charts/src/Score/demo/basic.tsx
  packages/charts/src/Score/demo/customColor.tsx
  packages/charts/src/Score/demo/customThreshold.tsx
  packages/design/src/spin/assets/spin-gray.json
  packages/design/src/spin/assets/spin.json
  packages/design/src/tooltip/demo/close-icon.tsx
  packages/design/src/tooltip/index.md
  packages/design/src/tooltip/index.tsx
  packages/design/src/tooltip/style/index.ts
  packages/ui/src/BackgroundTaskManager/index.md
  packages/ui/src/Boundary/index.md
  packages/ui/src/ContentWithIcon/demo/basic.tsx
  packages/ui/src/ContentWithIcon/demo/exclamation.tsx
  packages/ui/src/ContentWithIcon/demo/tipWithLink.tsx
  packages/ui/src/ContentWithIcon/index.less
  packages/ui/src/ContentWithIcon/index.md
  packages/ui/src/ContentWithIcon/index.tsx
  packages/ui/src/Dialog/index.less
  packages/ui/src/Dialog/index.md
  packages/ui/src/DocDialog/index.md
  packages/ui/src/GraphToolbar/index.md
  packages/ui/src/SideTip/demo/small.tsx
  packages/ui/src/SideTip/index.less
  packages/ui/src/SideTip/index.md
  packages/ui/src/TagSelect/Group.tsx
  packages/ui/src/TagSelect/Item.tsx
  packages/ui/src/TagSelect/demo/tagSelect-base.tsx
  packages/ui/src/TagSelect/demo/tagSelect-group.tsx
  packages/ui/src/TagSelect/demo/tagSelect-img.tsx
  packages/ui/src/TagSelect/demo/tagSelect-multiple.tsx
  packages/ui/src/TagSelect/demo/tagSelect-radio.tsx
  packages/ui/src/TagSelect/demo/tagSelect-size.tsx
  packages/ui/src/TagSelect/index.md
  packages/ui/src/TagSelect/index.tsx
  packages/ui/src/TreeSearch/index.md
  scripts/utils/getPackages.js
  tests/util.ts
Labels: chore

#145 improve(design): Tooltip light style in dark theme
  packages/design/src/tooltip/index.tsx
Labels: @oceanbase/design, Tooltip, style

#151 feat(charts): Add customMemo wrapper for charts based on @ant-design/charts
  packages/charts/src/Area/index.tsx
  packages/charts/src/Bar/index.tsx
  packages/charts/src/Column/index.tsx
  packages/charts/src/DualAxes/index.tsx
  packages/charts/src/Gauge/index.tsx
  packages/charts/src/Histogram/index.tsx
  packages/charts/src/Line/index.tsx
  packages/charts/src/Liquid/index.tsx
  packages/charts/src/Pie/demo/state-change.tsx
  packages/charts/src/Pie/index.md
  packages/charts/src/Pie/index.tsx
  packages/charts/src/Tiny/Progress.tsx
  packages/charts/src/Tiny/TinyArea.tsx
  packages/charts/src/Tiny/TinyColumn.tsx
  packages/charts/src/Tiny/TinyLine.tsx
  packages/charts/src/util/custom-memo.ts
Labels: @oceanbase/charts, feature
