Repository oceanbase/oceanbase-design, pull requests merged in 2023-10, with the labels that each got.

#158 feat(charts): customMemo support to compare function
  package.json
  packages/charts/src/Pie/demo/state-change.tsx
  packages/charts/src/util/__tests__/custom-memo.test.ts
  packages/charts/src/util/custom-memo.ts
  packages/design/src/index.ts
  packages/ui/src/SideTip/demo/content.tsx
  pnpm-lock.yaml
Labels: enhancement, @oceanbase/charts, feature

#159 improve(deps): ^16.9.0 => >=16.9.0 for react and react-dom peerDependencies
  packages/charts/package.json
  packages/design/package.json
  packages/icons/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: dependencies, improvement

#160 fix(design): Add missing prop-types dep
  packages/design/package.json
  pnpm-lock.yaml
Labels: bug, @oceanbase/design

#161 feat(codemod): getTableData => useTableData for util
  packages/codemod/README.md
  packages/codemod/transforms/__testfixtures__/obutil-to-oceanbase-util/getTableData.input.js
  packages/codemod/transforms/__testfixtures__/obutil-to-oceanbase-util/getTableData.output.js
  packages/codemod/transforms/__tests__/obutil-to-oceanbase-util.test.ts
  packages/codemod/transforms/obutil-to-oceanbase-util.js
  packages/codemod/transforms/utils/import-component.js
  packages/util/src/hooks/index.ts
  packages/util/src/hooks/useTableData.ts
Labels: enhancement, @oceanbase/codemod, feature

#162 🐞 fix(codemod): Downgrade chalk dep from ^5.3.0 to ^3.0.0 for cjs module
  .github/dependabot.yml
  packages/codemod/package.json
  pnpm-lock.yaml
Labels: bug, dependencies, @oceanbase/codemod

#168 chore(demo): Update imports
  packages/design/src/badge/demo/status-custom-icon.tsx
  packages/design/src/spin/demo/custom-indicator.tsx
  packages/ui/src/ContentWithIcon/demo/basic.tsx
  packages/ui/src/Highlight/demo/config.js
Labels: demo, chore

#169 fix(charts): height should be self-adaption for Line, Area and DualAxes
  packages/charts/package.json
  packages/charts/src/Area/__tests__/__snapshots__/ref.test.tsx.snap
  packages/charts/src/Area/__tests__/ref.test.tsx
  packages/charts/src/Area/index.tsx
  packages/charts/src/DualAxes/__tests__/__snapshots__/ref.test.tsx.snap
  packages/charts/src/DualAxes/__tests__/ref.test.tsx
  packages/charts/src/DualAxes/index.tsx
  packages/charts/src/Line/__tests__/__snapshots__/ref.test.tsx.snap
  packages/charts/src/Line/__tests__/ref.test.tsx
  packages/charts/src/Line/demo/auto-fit.tsx
  packages/charts/src/Line/index.md
  packages/charts/src/Line/index.tsx
  pnpm-lock.yaml
Labels: bug, @oceanbase/charts, Line, Area, DualAxes

#170 fix(charts): ts definition for forwardRef component
  packages/charts/src/Bar/index.tsx
  packages/charts/src/Column/index.tsx
  packages/charts/src/Gauge/index.tsx
  packages/charts/src/Histogram/index.tsx
  packages/charts/src/Liquid/index.tsx
  packages/charts/src/Pie/index.tsx
  packages/charts/src/Tiny/Progress.tsx
  packages/charts/src/Tiny/TinyColumn.tsx
  packages/charts/src/Tiny/TinyLine.tsx
Labels: @oceanbase/charts, TypeScript

#177 improve(ui): oceanbase logo adapt dark theme
  .dumirc.ts
  packages/design/src/config-provider/index.tsx
  packages/ui/src/BasicLayout/Header.tsx
  packages/ui/src/Login/index.tsx
  packages/ui/src/assets/logo/oceanbase_logo_dark.svg
Labels: @oceanbase/ui, improvement, theme

#178 refact(design): useInkBar => indicatorSize for Tabs
  packages/design/src/card/index.tsx
  packages/design/src/config-provider/index.tsx
  packages/design/src/tabs/hooks/useInkBar.ts
  packages/design/src/tabs/index.tsx
Labels: @oceanbase/design, refact, Tabs

#179 feat(site): Add @vercel/analytics
  .dumi/theme/layouts/GlobalLayout.tsx
  package.json
  pnpm-lock.yaml
Labels: site, feature

#191 fix(ui): reload should work when subTitle is null
  packages/ui/src/PageContainer/demo/basic.tsx
  packages/ui/src/PageContainer/demo/header-less.tsx
  packages/ui/src/PageContainer/index.tsx
  packages/ui/src/PageContainer/style/index.ts
Labels: bug, @oceanbase/ui, PageContainer

#193 improve(ui): Set footerToolBarProps.portalDom to false by default for…
  packages/ui/src/BasicLayout/style/index.ts
  packages/ui/src/PageContainer/index.tsx
Labels: @oceanbase/ui, BasicLayout, PageContainer, style, improvement

#194 improve(ui): PageContainer footer bar width adapt to sider width of BasicLayout
  packages/ui/src/BasicLayout/index.tsx
  packages/ui/src/BasicLayout/style/index.ts
  packages/ui/src/PageContainer/demo/empty.tsx
Labels: @oceanbase/ui, BasicLayout, PageContainer, style, improvement

#195 fix(design): zebra stripe style should be correct for scroll table
  packages/design/src/table/demo/fixed-columns-header-tables.tsx
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, style, Table, bugfix

#196 fix(design): Add priority for Alert alignItems to overwritten antd style
  packages/design/src/alert/style/index.ts
Labels: @oceanbase/design, style, Alert

#197 feat(site): Add speed insights of Vercel
  .dumi/global.ts
  .dumi/vitals.ts
  package.json
  pnpm-lock.yaml
Labels: site, feature

#198 improve(codemod): Add BackgroundTaskManager member for `@alipay/ob-ui` => `@oceanbase/ui`
  packages/codemod/transforms/__testfixtures__/obui-to-oceanbase-design-and-ui/obui.input.js
  packages/codemod/transforms/__testfixtures__/obui-to-oceanbase-design-and-ui/obui.output.js
  packages/codemod/transforms/obui-to-oceanbase-design-and-ui.js
  packages/codemod/transforms/utils/config.js
  packages/codemod/transforms/utils/index.js
Labels: @oceanbase/codemod, improvement

#199 improve(codemod): @alipay/ob-ui => @oceanbase/ui for locale
  packages/codemod/transforms/__testfixtures__/obui-to-oceanbase-design-and-ui/locale.input.js
  packages/codemod/transforms/__testfixtures__/obui-to-oceanbase-design-and-ui/locale.output.js
  packages/codemod/transforms/__testfixtures__/obui-to-oceanbase-design-and-ui/obui.input.js
  packages/codemod/transforms/__testfixtures__/obui-to-oceanbase-design-and-ui/obui.output.js
  packages/codemod/transforms/__tests__/obui-to-oceanbase-design-and-ui.test.ts
  packages/codemod/transforms/obui-to-oceanbase-design-and-ui.js
  packages/codemod/transforms/utils/import-component.js
Labels: @oceanbase/codemod, improvement

#202 config(site): Use process.env.VERCEL_ANALYTICS_ID by .env
  .dumi/global.ts
  .env
Labels: site, config

#203 fix(site): Remove .env
  .env
Labels: site, bugfix

#204 config(site): Define process.env.VERCEL_ANALYTICS_ID
  .dumirc.ts
Labels: site, config

#205 fix(codemod): dir arg should limit transform scope
  package.json
  packages/codemod/bin/cli.js
Labels: @oceanbase/codemod, bugfix

#206 fix(design): Table columns maybe undefined and add edit-row demo for Table
  packages/design/src/table/demo/edit-row.tsx
  packages/design/src/table/index.md
  packages/design/src/table/index.tsx
Labels: @oceanbase/design, Table, bugfix

#207 improve(design): Remove pagination borderTop for bordered Table
  packages/design/src/table/demo/bordered.tsx
  packages/design/src/table/index.md
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, style, improvement, Table

#201 imporve(ui):BasicLayout less => css-in-js
  .vscode/settings.json
  package.json
  packages/ui/src/BasicLayout/Header.less
  packages/ui/src/BasicLayout/Header.tsx
  packages/ui/src/BasicLayout/demo/basic.tsx
  packages/ui/src/BasicLayout/index.less
  packages/ui/src/BasicLayout/index.tsx
  packages/ui/src/BasicLayout/style/Header.ts
  packages/ui/src/BasicLayout/style/index.ts
  packages/ui/src/PageContainer/demo/empty.tsx
  packages/ui/src/assets/user.svg
  pnpm-lock.yaml
Labels: @oceanbase/ui, style

#215 feat(codemod): Add style-to-token transform
  packages/codemod/README.md
  packages/codemod/bin/cli.js
  packages/codemod/transforms/__testfixtures__/style-to-token/class-component.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/class-component.output.js
  packages/codemod/transforms/__testfixtures__/style-to-token/function-component.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/function-component.output.js
  packages/codemod/transforms/__testfixtures__/style-to-token/static.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/static.output.js
  packages/codemod/transforms/__tests__/style-to-token.test.ts
  packages/codemod/transforms/style-to-token.js
  packages/codemod/transforms/utils/index.js
Labels: @oceanbase/codemod, feature

#216 chore(repo): oceanbase/design => oceanbase/oceanbase-design for repository url
  README.md
  package.json
  packages/charts/package.json
  packages/codemod/README.md
  packages/codemod/package.json
  packages/design/package.json
  packages/icons/package.json
  packages/ui/package.json
  packages/ui/src/Highlight/demo/diff.tsx
  packages/util/package.json
Labels: chore, repository

#217 feat(codemod): Add less-to-token transform
  packages/codemod/bin/cli.js
  packages/codemod/package.json
  packages/codemod/transforms/__testfixtures__/less-to-token/antd-v4-less-to-token.input.less
  packages/codemod/transforms/__testfixtures__/less-to-token/antd-v4-less-to-token.output.less
  packages/codemod/transforms/__testfixtures__/less-to-token/obui-less-to-token.input.less
  packages/codemod/transforms/__testfixtures__/less-to-token/obui-less-to-token.output.less
  packages/codemod/transforms/__tests__/less-to-token.test.ts
  packages/codemod/transforms/less-to-token.js
  packages/codemod/transforms/style-to-token.js
  packages/codemod/transforms/utils/token.js
  pnpm-lock.yaml
Labels: @oceanbase/codemod, feature

#218 feat(codemod): TOKEN_MAP add obui style
  packages/codemod/transforms/__testfixtures__/less-to-token/antd-v4-less-to-token.input.less
  packages/codemod/transforms/__testfixtures__/less-to-token/antd-v4-less-to-token.output.less
  packages/codemod/transforms/__testfixtures__/less-to-token/obui-less-to-token.input.less
  packages/codemod/transforms/__testfixtures__/less-to-token/obui-less-to-token.output.less
  packages/codemod/transforms/utils/token.js
Labels: @oceanbase/codemod, feature

#220 config: Add pre-commit hook by husky and lint-staged
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Labels: config

#221 feat(codemod): Support fuzzy matching for style-to-token and less-to-token transform
  packages/codemod/README.md
  packages/codemod/transforms/__testfixtures__/less-to-token/antd-v4-less-to-token.input.less
  packages/codemod/transforms/__testfixtures__/less-to-token/antd-v4-less-to-token.output.less
  packages/codemod/transforms/__testfixtures__/less-to-token/obui-less-to-token.input.less
  packages/codemod/transforms/__testfixtures__/less-to-token/obui-less-to-token.output.less
  packages/codemod/transforms/__testfixtures__/style-to-token/class-component.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/class-component.output.js
  packages/codemod/transforms/__testfixtures__/style-to-token/function-component.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/function-component.output.js
  packages/codemod/transforms/__testfixtures__/style-to-token/static.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/static.output.js
  packages/codemod/transforms/less-to-token.js
  packages/codemod/transforms/style-to-token.js
  packages/codemod/transforms/utils/token.js
Labels: @oceanbase/codemod, feature

#222 chore(codemod): Update README.md
  packages/codemod/README.md
Labels: @oceanbase/codemod, chore

#223 chore(docs): Add changelog for @oceanbase/design@0.2.24, @oceanbase/ui@0.2.25 and @oceanbase/codemod@0.2.7
  docs/codemod/codemod-CHANGELOG.md
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
Labels: changelog

#224 feat(workflow): Add release-helper.yml
  .github/workflows/release-helper.yml
Labels: workflow

#225 chore(workflow): Add workflow_dispatch as event trigger for release-helper.yml
  .github/workflows/release-helper.yml
Labels: workflow, chore

#226 fix(workflow): should trigger release-helper workflow when push tags
  .github/workflows/release-helper.yml
Labels: workflow, bugfix

#230 config(workflow): Use new params for release-helper
  .github/workflows/release-helper.yml
Labels: workflow, config, release

#231 fix(design): Tooltip closeIcon should consider visible prop
  packages/design/src/tooltip/__tests__/index.test.tsx
  packages/design/src/tooltip/demo/close-icon.tsx
  packages/design/src/tooltip/index.tsx
Labels: @oceanbase/design, Tooltip, bugfix

#232 improve(design & ui): token => useToken for theme
  .dumi/hooks/useMenu.tsx
  .dumi/hooks/useSiteToken.ts
  .dumi/theme/SiteThemeProvider.tsx
  packages/design/src/form/FormItem.tsx
  packages/design/src/modal/demo/over-height.tsx
  packages/design/src/spin/demo/inside.tsx
  packages/design/src/spin/demo/tip.tsx
  packages/design/src/theme/index.md
  packages/design/src/tooltip/MouseTooltip.tsx
  packages/design/src/tooltip/hooks/useTooltipTypeList.ts
  packages/design/src/tooltip/index.tsx
  packages/ui/src/BasicLayout/index.tsx
  packages/ui/src/Highlight/index.tsx
  packages/ui/src/Login/LoginForm.tsx
  packages/ui/src/Password/Content.tsx
  packages/ui/src/Password/index.tsx
Labels: @oceanbase/design, @oceanbase/ui, improvement, theme

#233 fix(codemod): token priority should be #ffffff > #fff
  packages/codemod/transforms/__testfixtures__/less-to-token/antd-v4-less-to-token.input.less
  packages/codemod/transforms/__testfixtures__/less-to-token/antd-v4-less-to-token.output.less
  packages/codemod/transforms/__testfixtures__/style-to-token/function-component.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/function-component.output.js
  packages/codemod/transforms/utils/token.js
Labels: @oceanbase/codemod, bugfix

#234 fix(codemod): style-to-token should add {} wrapper for JSXAttribute
  packages/codemod/README.md
  packages/codemod/transforms/__testfixtures__/style-to-token/function-component.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/function-component.output.js
  packages/codemod/transforms/__testfixtures__/style-to-token/static.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/static.output.js
  packages/codemod/transforms/style-to-token.js
Labels: @oceanbase/codemod, bugfix

#235 fix(codemod): file path should be correct
  packages/codemod/transforms/less-to-token.js
Labels: @oceanbase/codemod, bugfix

#236 fix(codemod): path => targetPath to avoid duplicate name when prettier
  packages/codemod/bin/cli.js
Labels: @oceanbase/codemod, bugfix

#237 feat(github): Add PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: feature, GitHub

#238 fix(codemod): includes => more match conditions for tokenParse
  packages/codemod/transforms/__testfixtures__/style-to-token/function-component.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/function-component.output.js
  packages/codemod/transforms/utils/token.js
Labels: @oceanbase/codemod, bugfix

#240 fix(codemod): should avoid duplicate `const { token } = theme.useToken();`
  packages/codemod/transforms/__testfixtures__/style-to-token/existed-useToken.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/existed-useToken.output.js
  packages/codemod/transforms/__testfixtures__/style-to-token/multiple-block-statement.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/multiple-block-statement.output.js
  packages/codemod/transforms/__tests__/style-to-token.test.ts
  packages/codemod/transforms/style-to-token.js
Labels: @oceanbase/codemod, bugfix

#241 fix(codemod): style-to-token should import token for normal statement
  packages/codemod/bin/cli.js
  packages/codemod/transforms/__testfixtures__/style-to-token/block-statement.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/block-statement.output.js
  packages/codemod/transforms/__testfixtures__/style-to-token/nested-block-statement.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/nested-block-statement.output.js
  packages/codemod/transforms/__testfixtures__/style-to-token/statement.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/statement.output.js
  packages/codemod/transforms/__tests__/style-to-token.test.ts
  packages/codemod/transforms/style-to-token.js
Labels: @oceanbase/codemod, bugfix

#242 fix(codemod): should not transform when specific file is not .less
  packages/codemod/transforms/less-to-token.js
Labels: @oceanbase/codemod, bugfix

#243 feat(docs): Add auto migration docs for @oceanbase/design, @oceanbase/ui and @oceanbase/charts
  docs/charts/charts-migrate-from-ant-design-charts.md
  docs/design/design-migrate-from-antd.md
  docs/design/design-migrate-from-obui.md
  docs/ui/ui-migrate-from-obui.md
  packages/codemod/README.md
Labels: documentation, @oceanbase/design, @oceanbase/ui, @oceanbase/charts, feature

#244 fix(codemod): TOKEN_MAP key should be lower case
  packages/codemod/README.md
  packages/codemod/transforms/__testfixtures__/less-to-token/antd-v4-less-to-token.input.less
  packages/codemod/transforms/__testfixtures__/less-to-token/case-insensitive.input.less
  packages/codemod/transforms/__testfixtures__/less-to-token/case-insensitive.output.less
  packages/codemod/transforms/__testfixtures__/style-to-token/case-insensitive.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/case-insensitive.output.js
  packages/codemod/transforms/__testfixtures__/style-to-token/statement.input.js
  packages/codemod/transforms/__tests__/less-to-token.test.ts
  packages/codemod/transforms/__tests__/style-to-token.test.ts
  packages/codemod/transforms/utils/token.js
Labels: @oceanbase/codemod, bugfix

#250 fix(codemod): should import token for non block statement including `token.`
  packages/codemod/transforms/__testfixtures__/style-to-token/top-identifier.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/top-identifier.output.js
  packages/codemod/transforms/__tests__/style-to-token.test.ts
  packages/codemod/transforms/style-to-token.js
Labels: @oceanbase/codemod, bugfix

#254 fix(ui): PageContainer header related style should work
  packages/ui/src/PageContainer/style/index.ts
Labels: @oceanbase/ui, PageContainer, style, bugfix

#255 fix(ui): BasicLayout locale switch font size is too large
  packages/ui/src/BasicLayout/Header.tsx
  packages/ui/src/BasicLayout/style/Header.ts
  packages/ui/src/LocaleDropdown/index.tsx
  packages/ui/src/Login/index.tsx
Labels: @oceanbase/ui, BasicLayout, style, bugfix

#256 chore(docs): Add changelog for @oceanbase/design@0.2.25, @oceanbase/ui@0.2.26 and @oceanbase/codemod@0.2.8
  docs/codemod/codemod-CHANGELOG.md
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
Labels: @oceanbase/design, @oceanbase/ui, @oceanbase/codemod, changelog, release
