Repository oceanbase/oceanbase-design, pull requests merged in 2023-11, with the labels that each got.

#261 fix(codemod): .mixin() should not transform to @mixin() for less-to-token
  packages/codemod/transforms/__testfixtures__/less-to-token/mixin.input.less
  packages/codemod/transforms/__testfixtures__/less-to-token/mixin.output.less
  packages/codemod/transforms/__tests__/less-to-token.test.ts
  packages/codemod/transforms/less-to-token.js
Labels: @oceanbase/codemod, bugfix

#262 fix(codemod): @alipay/ob-ui => @oceanbase/ui for pro-components member
  packages/codemod/transforms/__testfixtures__/obui-to-oceanbase-design-and-ui/obui.input.js
  packages/codemod/transforms/__testfixtures__/obui-to-oceanbase-design-and-ui/obui.output.js
  packages/codemod/transforms/obui-to-oceanbase-design-and-ui.js
Labels: @oceanbase/codemod, bugfix

#263 chore(docs): Add changelog for @oceanbase/codemod@0.2.9
  docs/codemod/codemod-CHANGELOG.md
Labels: publish, changelog, release

#269 fix(codemod): should import ~@oceanbase/design/es/theme/index.less for existed token
  packages/codemod/transforms/__testfixtures__/less-to-token/obui-less-token-to-token.input.less
  packages/codemod/transforms/__testfixtures__/less-to-token/obui-less-token-to-token.output.less
  packages/codemod/transforms/__tests__/less-to-token.test.ts
  packages/codemod/transforms/less-to-token.js
Labels: @oceanbase/codemod, bugfix

#228 feat(): Drawer new add footer
  .dumirc.ts
  packages/design/src/drawer/Drawer.tsx
  packages/design/src/drawer/demo/basic.tsx
  packages/design/src/drawer/demo/confirmLoading.tsx
  packages/design/src/drawer/demo/custom-footer.tsx
  packages/design/src/drawer/demo/descriptions.tsx
  packages/design/src/drawer/demo/form-drawer.tsx
  packages/design/src/drawer/demo/no-footer.tsx
  packages/design/src/drawer/index.md
  packages/design/src/drawer/index.ts
  packages/design/src/drawer/style/index.ts
  packages/design/src/index.ts
  packages/ui/src/BasicLayout/demo/basic.tsx
Labels: @oceanbase/design, Drawer

#270 feat(codemod): Add `--transformer` command option for specify target transformers
  packages/codemod/README.md
  packages/codemod/bin/cli.js
Labels: @oceanbase/codemod, feature

#271 fix(ui): PageContainer header style should cover pro-components
  packages/ui/src/PageContainer/style/index.ts
Labels: @oceanbase/ui, PageContainer, style, bugfix

#259 feat(design): Add forwardRef for all components
  packages/design/package.json
  packages/design/src/_util/type.ts
  packages/design/src/badge/index.tsx
  packages/design/src/button/index.tsx
  packages/design/src/card/index.tsx
  packages/design/src/select/index.tsx
  packages/design/src/table/index.tsx
  packages/design/src/tag/index.tsx
  packages/design/src/tooltip/index.tsx
  pnpm-lock.yaml
Labels: @oceanbase/design, feature

#272 improve(design): Update neutral color palette, including design token and less theme variables
  .vscode/settings.json
  package.json
  packages/design/src/config-provider/__tests__/ThemeProvider.test.tsx
  packages/design/src/config-provider/__tests__/theme.test.tsx
  packages/design/src/config-provider/index.tsx
  packages/design/src/message/demo/basic.tsx
  packages/design/src/notification/demo/basic.tsx
  packages/design/src/static-function/index.tsx
  packages/design/src/theme/dark.ts
  packages/design/src/theme/default.ts
  packages/design/src/theme/demo/previewer-advanced.tsx
  packages/design/src/theme/demo/previewer-basic.tsx
  packages/design/src/theme/index.ts
  packages/design/src/theme/style/compact.less
  packages/design/src/theme/style/dark.less
  packages/design/src/theme/style/default.less
  plugin-theme-less.ts
  pnpm-lock.yaml
Labels: @oceanbase/design, improvement, theme

#273 feat(design): set Spin default indicator to work globally
  packages/design/src/config-provider/__tests__/theme.test.tsx
  packages/design/src/spin/index.tsx
  packages/ui/src/PageContainer/demo/basic.tsx
  packages/ui/src/PageContainer/demo/complete.tsx
Labels: @oceanbase/design, Spin, feature

#275 improve(design): Modal confirm content style
  packages/design/src/modal/style/index.ts
Labels: @oceanbase/design, style, Modal, improvement

#277 fix(design): seed token should filter colorBgBase, colorTextBase and colorLink to make dark theme work correctly
  packages/design/src/config-provider/index.tsx
  packages/design/src/theme/index.ts
Labels: @oceanbase/design, theme, bugfix

#278 fix(design): token => less for dark theme should be correct
  .github/workflows/release-helper.yml
  packages/design/src/theme/index.ts
  packages/design/src/theme/style/dark.less
  plugin-theme-less.ts
Labels: @oceanbase/design, theme, bugfix

#282 chore(docs): Add changelog for @oceanbase/design@0.2.27, @oceanbase/ui@0.2.28 and @oceanbase/codemod@0.2.10
  docs/codemod/codemod-CHANGELOG.md
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
Labels: publish, changelog, release

#287 feat(design): Add theme previewer for @oceanbase/design
  .dumirc.ts
  .eslintignore
  antd-alias-webpack-plugin.js
  package.json
  packages/design/src/config-provider/context.ts
  packages/design/src/drawer/Drawer.tsx
  packages/design/src/drawer/demo/basic.tsx
  packages/design/src/drawer/index.ts
  packages/design/src/modal/Modal.tsx
  packages/design/src/select/index.tsx
  packages/design/src/theme/compact.ts
  packages/design/src/theme/demo/previewer-basic.tsx
  packages/design/src/theme/demo/previewer.less
  packages/design/src/theme/demo/previewer.tsx
  packages/design/src/theme/index.md
  packages/design/src/theme/themes/compact/index.ts
  packages/design/src/theme/themes/dark/index.ts
  packages/design/src/theme/themes/default/index.ts
  packages/design/src/theme/themes/seed.ts
  packages/design/src/theme/util/alias.ts
  packages/design/src/tooltip/index.tsx
Labels: @oceanbase/design, theme

#296 chore(docs): Add changelog for @oceanbase/design@0.2.28, @oceanbase/ui@0.2.29
  .github/workflows/release-helper.yml
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
Labels: publish, changelog, release

#298 fix(design): Drawer should add `${componentCls}-content` wrapper to overwritten antd style
  packages/design/src/drawer/Drawer.tsx
  packages/design/src/drawer/demo/footer.tsx
  packages/design/src/drawer/demo/over-height.tsx
  packages/design/src/drawer/index.md
  packages/design/src/drawer/style/index.ts
Labels: @oceanbase/design, Drawer, style, bugfix

#299 chore(docs): Add changelog for @oceanbase/design@0.2.29
  docs/design/design-CHANGELOG.md
Labels: publish, changelog, release

#306 🌈 improve(charts): Update palette for light and dark theme
  packages/charts/src/ChartProvider/__tests__/theme.test.tsx
  packages/charts/src/theme/dark.ts
  packages/charts/src/theme/light.ts
Labels: @oceanbase/charts, improvement, theme

#300 fix(design): Badge component icon mode style optimization
  packages/design/src/badge/style/index.ts
Labels: @oceanbase/design, style, Badge

#307 🌈 improve(design): Update color palette for default theme
  packages/design/src/theme/default.ts
  packages/design/src/theme/style/compact.less
  packages/design/src/theme/style/default.less
Labels: @oceanbase/design, improvement, theme

#311 feat(design): Export extended components' TypeScript definition
  packages/design/src/descriptions/index.tsx
  packages/design/src/form/FormItem.tsx
  packages/design/src/form/index.ts
  packages/design/src/index.ts
Labels: @oceanbase/design, TypeScript, feature

#319 improve(design): Update Drawer design rules of padding, footer and scroll
  packages/design/src/config-provider/index.tsx
  packages/design/src/drawer/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/drawer/__tests__/index.test.tsx
  packages/design/src/drawer/demo/custom-footer.tsx
  packages/design/src/drawer/demo/descriptions.tsx
  packages/design/src/drawer/demo/form-drawer.tsx
  packages/design/src/drawer/demo/over-height.tsx
  packages/design/src/drawer/index.md
  packages/design/src/drawer/index.ts
  packages/design/src/drawer/index.tsx
  packages/design/src/drawer/style/index.ts
  packages/design/src/locale/index.ts
Labels: @oceanbase/design, Drawer, style, improvement

#320 fix(design): Form requiredMark should inherit from ConfigProvider
  packages/design/src/form/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/form/__tests__/index.test.tsx
  packages/design/src/form/demo/form-item-tooltip.tsx
  packages/design/src/form/index.tsx
Labels: @oceanbase/design, bugfix, Form

#227 🆕 feat(design): Segmented options item add ellipsis prop
  .dumirc.ts
  package.json
  packages/codemod/transforms/__testfixtures__/obui-to-oceanbase-design-and-ui/obui.input.js
  packages/codemod/transforms/__testfixtures__/obui-to-oceanbase-design-and-ui/obui.output.js
  packages/design/src/index.ts
  packages/design/src/segmented/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/segmented/__tests__/index.test.tsx
  packages/design/src/segmented/demo/basic.tsx
  packages/design/src/segmented/demo/block.tsx
  packages/design/src/segmented/demo/disabled.tsx
  packages/design/src/segmented/demo/ellipsis.tsx
  packages/design/src/segmented/demo/size.tsx
  packages/design/src/segmented/index.md
  packages/design/src/segmented/index.ts
  packages/design/src/segmented/index.tsx
  packages/design/src/segmented/style/index.ts
  packages/design/src/tag/index.tsx
  pnpm-lock.yaml
Labels: @oceanbase/design, feature, Segmented

#321 improve(design): Typography.Text and Typography.Paragraph default color and line-height should inherit from parent
  .dumi/theme/common/Loading.tsx
  .dumirc.ts
  packages/design/src/descriptions/index.tsx
  packages/design/src/drawer/index.tsx
  packages/design/src/index.ts
  packages/design/src/segmented/index.tsx
  packages/design/src/table/index.tsx
  packages/design/src/tag/index.tsx
  packages/design/src/typography/Link.tsx
  packages/design/src/typography/Paragraph.tsx
  packages/design/src/typography/Text.tsx
  packages/design/src/typography/Title.tsx
  packages/design/src/typography/demo/inner.tsx
  packages/design/src/typography/demo/text.tsx
  packages/design/src/typography/index.md
  packages/design/src/typography/index.ts
  packages/design/src/typography/style/index.ts
Labels: style, improvement, Typography

#322 improve(design): Badge status text default color should inherit from parent
  packages/design/src/badge/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/badge/demo/count-independent.tsx
  packages/design/src/badge/demo/count.tsx
  packages/design/src/badge/demo/dot.tsx
  packages/design/src/badge/demo/ribbon.tsx
  packages/design/src/badge/demo/status-inner.tsx
  packages/design/src/badge/index.md
  packages/design/src/badge/index.tsx
  packages/design/src/badge/style/index.ts
  packages/design/src/typography/index.md
  packages/design/src/typography/style/index.ts
Labels: @oceanbase/design, style, improvement, Badge

#323 chore: Improve docs and demo
  docs/charts/charts-introduce.md
  docs/charts/charts-migrate-from-ant-design-charts.md
  docs/design/design-migrate-from-antd.md
  packages/charts/src/Stat/demo/basic.tsx
  packages/design/src/alert/index.md
  packages/design/src/badge/index.md
  packages/design/src/button/index.md
  packages/design/src/card/demo/tabs.tsx
  packages/design/src/card/index.md
  packages/design/src/config-provider/index.md
  packages/design/src/descriptions/index.md
  packages/design/src/drawer/index.md
  packages/design/src/form/demo/basic.tsx
  packages/design/src/form/demo/form-item-tooltip.tsx
  packages/design/src/form/index.md
  packages/design/src/icon/index.md
  packages/design/src/input-number/index.md
  packages/design/src/message/index.md
  packages/design/src/modal/index.md
  packages/design/src/notification/index.md
  packages/design/src/segmented/index.md
  packages/design/src/select/index.md
  packages/design/src/spin/index.md
  packages/design/src/table/demo/dynamic-settings.tsx
  packages/design/src/table/index.md
  packages/design/src/tabs/index.md
  packages/design/src/tag/index.md
  packages/design/src/tooltip/index.md
  packages/design/src/typography/index.md
  packages/ui/src/PageContainer/index.md
Labels: documentation, demo, chore

#324 feat(test): Add demo and mount tests
  package.json
  packages/design/src/config-provider/index.tsx
  packages/design/src/modal/__tests__/__snapshots__/progress.test.tsx.snap
  packages/ui/src/Action/Group.tsx
  packages/ui/src/BasicLayout/Header.tsx
  packages/ui/src/BasicLayout/index.tsx
  packages/ui/src/Boundary/demo/ErrorException.tsx
  packages/ui/src/Boundary/demo/Text.tsx
  packages/ui/src/ContentWithQuestion/index.tsx
  packages/ui/src/Login/index.tsx
  packages/ui/src/PageContainer/demo/basic.tsx
  packages/ui/src/PageContainer/demo/complete.tsx
  packages/ui/src/Welcome/step.tsx
  pnpm-lock.yaml
  tests/__tests__/__snapshots__/demo.test.ts.snap
  tests/__tests__/demo.test.ts
  tests/setupTests.ts
  tests/shared/demoTest.tsx
  tests/shared/demoTestContext.ts
  tests/shared/excludeWarning.tsx
  tests/shared/mountTest.tsx
  tests/shared/rootPropsTest.tsx
  tests/util.ts
Labels: Test, feature

#325 💄 improve(design): Remove nested Card box-shadow that is not bordered and inner
  packages/design/src/card/demo/border-less.tsx
  packages/design/src/card/demo/inner.tsx
  packages/design/src/card/index.md
  packages/design/src/card/style/index.ts
  packages/design/src/tag/demo/select.tsx
  packages/design/src/tooltip/MouseTooltip.tsx
  packages/ui/src/BasicLayout/index.tsx
  tests/__tests__/__snapshots__/demo.test.ts.snap
  tests/shared/excludeWarning.tsx
Labels: @oceanbase/design, style, improvement, Card

#326 fix(design): Card divider should not be covered by body content when body padding is 0
  packages/design/src/card/demo/grid.tsx
  packages/design/src/card/demo/inner.tsx
  packages/design/src/card/index.md
  packages/design/src/card/style/index.ts
  tests/__tests__/__snapshots__/demo.test.ts.snap
Labels: @oceanbase/design, style, bugfix, Card

#329 feat(design): Descriptions items add contentProps prop
  packages/design/src/descriptions/Item.ts
  packages/design/src/descriptions/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/descriptions/__tests__/index.test.tsx
  packages/design/src/descriptions/hooks/useItems.tsx
  packages/design/src/descriptions/index.md
  packages/design/src/descriptions/index.tsx
  packages/design/src/index.ts
  packages/design/src/segmented/index.tsx
  packages/design/src/tabs/hooks/useLegacyItems.tsx
  packages/design/src/typography/index.ts
  tests/__tests__/__snapshots__/demo.test.ts.snap
Labels: @oceanbase/design, feature, Descriptions

#330 feat(design): Table and List pagination.hideOnSinglePage is true by default and ConfigProvider add hideOnSinglePage
  .dumirc.ts
  packages/design/src/config-provider/__tests__/hideOnSinglePage.test.tsx
  packages/design/src/config-provider/index.tsx
  packages/design/src/descriptions/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/descriptions/__tests__/index.test.tsx
  packages/design/src/descriptions/index.tsx
  packages/design/src/index.ts
  packages/design/src/list/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/list/__tests__/index.test.tsx
  packages/design/src/list/demo/basic.tsx
  packages/design/src/list/demo/simple.tsx
  packages/design/src/list/index.md
  packages/design/src/list/index.ts
  packages/design/src/list/index.tsx
  packages/design/src/table/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/table/__tests__/index.test.tsx
  packages/design/src/table/index.md
  packages/design/src/table/index.tsx
  tests/__tests__/__snapshots__/demo.test.ts.snap
Labels: @oceanbase/design, feature, Table, List, Pagination

#335 chore(docs): Add changelog for @oceanbase/design@0.2.30, @oceanbase/ui@0.2.31 and @oceanbase/codemod@0.2.17
  docs/charts/charts-CHANGELOG.md
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
Labels: documentation, @oceanbase/design, @oceanbase/ui, @oceanbase/charts, changelog, release
