Repository oceanbase/oceanbase-design, pull requests merged in 2023-12, with the labels that each got.

#337 🐞 fix(design): Drawer header and footer box-shadow should real-time update for dynamic content and screen size
  packages/design/src/drawer/demo/over-height.tsx
  packages/design/src/drawer/index.md
  packages/design/src/drawer/index.tsx
  tests/__tests__/__snapshots__/demo.test.ts.snap
Labels: @oceanbase/design, Drawer, style, bugfix

#338 refact(design & ui): .anticon => token.iconCls and iconPrefixCls
  packages/design/src/index.ts
  packages/design/src/lottie/index.tsx
  packages/ui/package.json
  packages/ui/src/BasicLayout/style/index.ts
  packages/ui/src/Lottie/index.ts
  packages/ui/src/Lottie/index.tsx
  pnpm-lock.yaml
Labels: @oceanbase/design, @oceanbase/ui, refact

#346 feat(ui): Export components' TypeScript definition
  packages/charts/src/index.ts
  packages/ui/src/Action/index.ts
  packages/ui/src/BatchOperationBar/index.tsx
  packages/ui/src/Dialog/index.tsx
  packages/ui/src/DocDialog/index.tsx
  packages/ui/src/IconFont/index.tsx
  packages/ui/src/NavMenu/index.tsx
  packages/ui/src/Ranger/Ranger.tsx
  packages/ui/src/TreeSearch/index.tsx
  packages/ui/src/index.ts
  packages/util/src/index.ts
Labels: @oceanbase/ui, TypeScript, feature

#349 fix(design): Form hideRequiredMark should be priority over ConfigProvider form.requiredMark
  packages/design/src/form/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/form/__tests__/index.test.tsx
  packages/design/src/form/demo/hideRequiredMark.tsx
  packages/design/src/form/demo/requiredMark-same-with-antd.tsx
  packages/design/src/form/index.md
  packages/design/src/form/index.tsx
  tests/__tests__/__snapshots__/demo.test.ts.snap
Labels: @oceanbase/design, bugfix, Form

#353 improve(test): Comment demo snapshot tests for now
  tests/__tests__/__snapshots__/demo.test.ts.snap
  tests/shared/demoTest.tsx
Labels: Test, improvement, CI

#352 improve(design): Button style, including update gradient color and remove box-shadow
  packages/design/src/button/demo/disabled.tsx
  packages/design/src/button/demo/loading.tsx
  packages/design/src/button/index.md
  packages/design/src/button/style/index.ts
Labels: @oceanbase/design, style, improvement, Button

#354 🌈 improve(design): Update color palette for default theme
  packages/design/src/alert/demo/ghost-and-colored.tsx
  packages/design/src/theme/__tests__/theme.test.tsx
  packages/design/src/theme/default.ts
  packages/design/src/theme/demo/previewer.tsx
  packages/design/src/theme/style/compact.less
  packages/design/src/theme/style/dark.less
  packages/design/src/theme/style/default.less
  packages/design/src/theme/util/format.ts
Labels: improvement, theme

#351 fix(charts): tooltip cannot be closed for Line, Area and DualAxes
  packages/charts/src/hooks/useTooltipScrollable.ts
Labels: @oceanbase/charts, Line, Area, DualAxes, bugfix, chart: tooltip

#360 fix(design): Tag font-size not correct
  packages/design/src/tag/style/index.ts
Labels: @oceanbase/design, bugfix, Tag

#361 feat(design): Tag add Typography.Text ellipsis prop
  package.json
  packages/design/src/_util/getEllipsisConfig.ts
  packages/design/src/descriptions/hooks/useItems.tsx
  packages/design/src/tag/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/tag/__tests__/index.test.tsx
  packages/design/src/tag/demo/ellipsis.tsx
  packages/design/src/tag/index.md
  packages/design/src/tag/index.tsx
  packages/design/src/tag/style/index.ts
  pnpm-lock.yaml
  tests/util.ts
Labels: @oceanbase/design, feature, Tag

#344 🔥 feat(style): Space and Grid gap style is compatible with browsers below Chrome 84
  .dumi/theme/common/styles/Markdown.tsx
  .dumirc.ts
  packages/design/src/_util/styleChecker.tsx
  packages/design/src/_util/useFlexGapSupport.ts
  packages/design/src/grid/col.tsx
  packages/design/src/grid/demo/basic.tsx
  packages/design/src/grid/demo/flex.tsx
  packages/design/src/grid/demo/gutter.tsx
  packages/design/src/grid/demo/offset.tsx
  packages/design/src/grid/index.md
  packages/design/src/grid/index.ts
  packages/design/src/grid/row.tsx
  packages/design/src/index.ts
  packages/design/src/space/demo/basic.tsx
  packages/design/src/space/demo/vertical.tsx
  packages/design/src/space/demo/wrap.tsx
  packages/design/src/space/index.md
  packages/design/src/space/index.ts
  packages/design/src/space/index.tsx
  packages/design/src/space/style/index.ts
Labels: @oceanbase/design, feature, Space, Grid, Row, Col

#363 📝 improve(docs): Add BasicLayout location prop usage
  packages/ui/src/BasicLayout/index.md
Labels: documentation, @oceanbase/ui, BasicLayout, improvement

#364 💄 improve(ui): BasicLayout support to set open menus auto according to pathname
  packages/ui/src/BasicLayout/index.tsx
Labels: @oceanbase/ui, BasicLayout, improvement

#365 chore(docs): Add changelog for @oceanbase/design@0.2.32, @oceanbase/ui@0.2.33 and @oceanbase/charts@0.2.19
  docs/charts/charts-CHANGELOG.md
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
Labels: documentation, chore, changelog

#373 improve(TagSelect): fixed style => design token
  packages/ui/src/TagSelect/style/index.ts
Labels: @oceanbase/ui, style, improvement, theme, TagSelect

#374 feat(charts): Liquid add containerStyle, percentStyle and titleStyle prop
  packages/charts/src/Liquid/index.md
  packages/charts/src/Liquid/index.tsx
Labels: @oceanbase/charts, feature, Liquid

#375 fix(ui): Remove IconFont built-in script url and mark IconFont as @deprecated
  packages/ui/src/BasicLayout/demo/IconFont.tsx
  packages/ui/src/BasicLayout/demo/banner.tsx
  packages/ui/src/BasicLayout/demo/basic.tsx
  packages/ui/src/BasicLayout/demo/menu-over-length.tsx
  packages/ui/src/BasicLayout/demo/subSideMenu.tsx
  packages/ui/src/BasicLayout/demo/topHeader-icon.tsx
  packages/ui/src/BasicLayout/demo/topHeader-title.tsx
  packages/ui/src/BasicLayout/demo/welcome.tsx
  packages/ui/src/IconFont/index.tsx
Labels: @oceanbase/ui, bugfix, IconFont

#381 improve(design): Update less variables of design token
  packages/design/src/theme/style/compact.less
  packages/design/src/theme/style/dark.less
  packages/design/src/theme/style/default.less
Labels: @oceanbase/design, improvement, theme

#382 improve(charts): Column adapt to time xAxis and default legend marker change to square
  packages/charts/src/Column/index.tsx
Labels: @oceanbase/charts, improvement, Column

#383 fix(charts): Liquid wave should render when height is null
  packages/charts/src/Liquid/index.tsx
Labels: @oceanbase/charts, bugfix, Liquid

#384 feat(charts): Stat add chartConfig prop to configure tiny area
  .github/PULL_REQUEST_TEMPLATE.md
  packages/charts/src/Stat/index.md
  packages/charts/src/Stat/index.tsx
Labels: @oceanbase/charts, feature, Stat

#385 improve(charts): Stat style, including title size, value size and center align
  packages/charts/src/Stat/index.less
  packages/charts/src/Stat/index.tsx
  packages/charts/src/util/measureText.ts
Labels: @oceanbase/charts, style, improvement, Stat

#386 test(design): Add test cases for ConfigProvider prefixCls and iconPrefixCls
  packages/design/src/config-provider/__tests__/__snapshots__/prefixCls.tsx.snap
  packages/design/src/config-provider/__tests__/prefixCls.tsx
Labels: @oceanbase/design, ConfigProvider, Test

#387 improve(charts): Stat chart height ratio change from 0.5 to 0.25 when container height < 72
  packages/charts/src/Stat/index.tsx
Labels: @oceanbase/charts, improvement, Stat

#388 fix(design): ConfigProvider hideOnSinglePage change to false by default
  packages/design/src/config-provider/__tests__/hideOnSinglePage.test.tsx
  packages/design/src/config-provider/index.tsx
Labels: @oceanbase/design, ConfigProvider, bugfix

#389 fix(design): Table pagination.hideOnSinglePage should be false when batch operation or pagination.showSizeChanger exist
  packages/design/src/table/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/table/__tests__/index.test.tsx
  packages/design/src/table/index.md
  packages/design/src/table/index.tsx
Labels: @oceanbase/design, Table, bugfix

#390 fix(design): List pagination.hideOnSinglePage should be false when pagination.showSizeChanger exist
  packages/design/src/list/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/list/__tests__/index.test.tsx
  packages/design/src/list/index.md
  packages/design/src/list/index.tsx
Labels: @oceanbase/design, bugfix, List

#391 chore(docs): Add changelog for @oceanbase/design@0.2.33, @oceanbase/ui@0.2.34 and @oceanbase/charts@0.2.20
  docs/charts/charts-CHANGELOG.md
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
  packages/design/src/list/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/list/__tests__/index.test.tsx
Labels: @oceanbase/design, @oceanbase/ui, @oceanbase/charts, chore, changelog
