Repository oceanbase/oceanbase-design, pull requests merged in 2024-01, with the labels that each got.

#406 fix(charts): Donut total should handle floor number correctly
  packages/charts/src/Pie/__tests__/__snapshots__/donut.test.tsx.snap
  packages/charts/src/Pie/__tests__/donut.test.tsx
  packages/charts/src/Pie/demo/donut-floor.tsx
  packages/charts/src/Pie/index.md
  packages/charts/src/Pie/index.tsx
Labels: @oceanbase/charts, bugfix, Pie

#408 feat(design): Drawer add footerExtra prop
  packages/design/src/drawer/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/drawer/__tests__/index.test.tsx
  packages/design/src/drawer/demo/footerExtra.tsx
  packages/design/src/drawer/index.md
  packages/design/src/drawer/index.tsx
  packages/design/src/drawer/style/index.ts
Labels: @oceanbase/design, Drawer, feature

#405 fix(Tooltip):should hide when tooltip title is none
  packages/design/src/tooltip/__tests__/index.test.tsx
  packages/design/src/tooltip/index.tsx
  tests/util.ts
Labels: @oceanbase/design, Tooltip, bugfix

#410 chore(docs): Add changelog for @oceanbase/design@0.2.34, @oceanbase/ui@0.2.35 and @oceanbase/charts@0.2.21
  docs/charts/charts-CHANGELOG.md
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
Labels: documentation, @oceanbase/design, @oceanbase/charts, changelog

#411 improve(design): Remove Modal body maxHeight, overflowY and borderRadius style
  packages/design/src/modal/demo/max-height.tsx
  packages/design/src/modal/index.md
  packages/design/src/modal/style/index.ts
  packages/design/src/tooltip/demo/mouse-follow.tsx
Labels: @oceanbase/design, style, Modal, improvement

#412 feat(charts): Stat add padding prop to replace built-in padding
  packages/charts/src/Stat/index.md
  packages/charts/src/Stat/index.tsx
Labels: @oceanbase/charts, feature, Stat

#413 fix(charts): Pie donut statistic title and content formatter should work
  packages/charts/src/Pie/__tests__/__snapshots__/donut.test.tsx.snap
  packages/charts/src/Pie/__tests__/donut.test.tsx
  packages/charts/src/Pie/index.tsx
Labels: @oceanbase/charts, bugfix, Pie, Donut

#419 fix: locale import highlight and fix locale name
  packages/ui/src/Highlight/index.tsx
  packages/ui/src/locale/en-US.ts
  packages/ui/src/locale/zh-TW.ts
Labels: @oceanbase/ui, bugfix, i18n, Highlight, locale

#420 fix(design): Remove duplicate border for expandable table
  packages/charts/src/Score/demo/basic.tsx
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, Table, bugfix

#422 improve(design): Table new style when Card body padding is 0
  packages/design/src/card/index.tsx
  packages/design/src/card/style/index.ts
  packages/design/src/config-provider/__tests__/table.test.tsx
  packages/design/src/config-provider/index.md
  packages/design/src/table/__tests__/index.test.tsx
  packages/design/src/table/demo/row-selection.tsx
  packages/design/src/table/demo/with-card.tsx
  packages/design/src/table/index.md
  packages/design/src/table/index.tsx
Labels: @oceanbase/design, style, improvement, Table, Card

#423 chore(design): Add virtual list demo for Table
  packages/design/src/table/demo/virtual.tsx
  packages/design/src/table/index.md
Labels: @oceanbase/design, demo, chore, Table

#424 fix(ui): Fix the focus jump issue of Password component
  packages/ui/src/Password/index.tsx
Labels: bug, @oceanbase/ui, Password

#425 improve(design): Adjust Table token cellPaddingBlock value
  packages/design/src/table/demo/multiple-nesting-tables.tsx
  packages/design/src/table/demo/nesting-tables.tsx
  packages/design/src/table/style/index.ts
  packages/design/src/theme/compact.ts
  packages/design/src/theme/default.ts
Labels: @oceanbase/design, improvement, theme, Table

#426 improve(ui): PageContainer extra and footer adapt Input style
  packages/ui/src/FooterToolbar/style/index.ts
  packages/ui/src/PageContainer/demo/basic.tsx
  packages/ui/src/PageContainer/style/index.ts
Labels: @oceanbase/ui, PageContainer, style, improvement

#427 chore(design): Add more demo for Table
  packages/design/src/table/demo/colspan-rowspan.tsx
  packages/design/src/table/demo/grouping-columns.tsx
  packages/design/src/table/demo/rowspan.tsx
  packages/design/src/table/demo/tree-table.tsx
  packages/design/src/table/index.md
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, demo, chore, Table

#429 chore(docs): Add changelog for @oceanbase/design@0.2.35, @oceanbase/ui@0.2.36 and @oceanbase/charts@0.2.22
  docs/charts/charts-CHANGELOG.md
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
Labels: @oceanbase/design, @oceanbase/ui, @oceanbase/charts, chore, changelog

#431 improve(design): div => React.Fragment for ConfigProvider nested App
  packages/design/src/config-provider/__tests__/__snapshots__/prefixCls.tsx.snap
  packages/design/src/config-provider/__tests__/__snapshots__/spin.test.tsx.snap
  packages/design/src/config-provider/__tests__/__snapshots__/styleProviderProps.test.tsx.snap
  packages/design/src/config-provider/index.tsx
  packages/design/src/form/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/form/__tests__/index.test.tsx
Labels: @oceanbase/design, ConfigProvider, improvement

#433 improve(ui): FooterToolbar children use large size and middle font-size
  packages/ui/src/FooterToolbar/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/FooterToolbar/index.tsx
  packages/ui/src/PageContainer/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/PageContainer/__tests__/index.test.tsx
  packages/ui/src/PageContainer/index.tsx
Labels: @oceanbase/ui, style, improvement, FooterToolbar

#434 improve(ui): PageContainer style when first child is Tabs
  packages/ui/src/PageContainer/demo/with-tabs.tsx
  packages/ui/src/PageContainer/index.md
  packages/ui/src/PageContainer/style/index.ts
Labels: @oceanbase/ui, PageContainer, style, improvement

#435 chore(design): Update Table with-card demo
  packages/design/src/table/demo/with-card.tsx
Labels: @oceanbase/design, demo, chore, Table

#436 chore(docs): Add changelog for @oceanbase/design@0.2.36, @oceanbase/ui@0.2.37
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
Labels: documentation, @oceanbase/design, @oceanbase/ui, chore, changelog

#443 fix(ui): PageContainer extra and footer large size should work correctly
  packages/ui/src/FooterToolbar/style/index.ts
  packages/ui/src/PageContainer/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/PageContainer/demo/basic.tsx
  packages/ui/src/PageContainer/demo/extra-footer.tsx
  packages/ui/src/PageContainer/index.tsx
  packages/ui/src/Ranger/index.less
Labels: @oceanbase/ui, PageContainer, bugfix

#446 feat(design): ConfigProvider add injectStaticFunction prop to controlStaticFunction conflicts
  packages/design/src/card/index.tsx
  packages/design/src/config-provider/demo/theme.tsx
  packages/design/src/config-provider/index.md
  packages/design/src/config-provider/index.tsx
  packages/ui/src/PageContainer/demo/complete.tsx
Labels: @oceanbase/design, ConfigProvider, feature

#447 fix(ui): FooterToolbar children large size should work correctly
  packages/ui/src/FooterToolbar/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/FooterToolbar/index.tsx
  packages/ui/src/PageContainer/index.tsx
Labels: @oceanbase/ui, bugfix, FooterToolbar

#448 improve(design): card-table demo
  packages/design/src/card/index.md
  packages/design/src/table/demo/card-table.tsx
  packages/design/src/table/index.md
  packages/ui/src/PageContainer/demo/header-less.tsx
Labels: @oceanbase/design, demo, improvement, Table, Card

#455 fix(design): Table selected row and hover row bgColor should be same
  packages/design/src/theme/default.ts
  packages/design/src/theme/style/compact.less
  packages/design/src/theme/style/default.less
Labels: @oceanbase/design, style, Table, bugfix

#456 chore(docs): Add changelog for @oceanbase/design@0.2.37 and @oceanbase/ui@0.2.38
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
Labels: documentation, chore, changelog
