Repository oceanbase/oceanbase-design, pull requests merged in 2024-12, with the labels that each got.

#870 fix(ui): @oceanbase/design locale file should import correctly
  packages/ui/src/locale/en-US.ts
Labels: @oceanbase/ui, bugfix, locale

#871 chore(docs): Add changelog for @oceanbase/ui@0.4.3
  docs/ui/ui-CHANGELOG.md
Labels: documentation, chore, changelog

#872 [Feature Branch] chore(merge): Merge master branch of v0.4.3
  docs/ui/ui-CHANGELOG.md
  packages/ui/package.json
  packages/ui/src/locale/en-US.ts
Labels: chore, merge, Feature Branch

#879 fix(design): should remove cell border for normal Table
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, Table, bugfix

#880 improve(design): Table bordered style
  packages/design/src/table/demo/bordered.tsx
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, style, improvement, Table

#881 fix(ui): multiple Select should vertical align in PageContainer extra
  packages/design/src/_util/genStyle.ts
  packages/ui/src/PageContainer/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/PageContainer/demo/extra-footer.tsx
Labels: @oceanbase/ui, PageContainer, style, bugfix, Select

#882 feat(design): New Collapse
  .dumirc.ts
  packages/design/src/collapse/demo/accordion.tsx
  packages/design/src/collapse/demo/basic.tsx
  packages/design/src/collapse/demo/borderless.tsx
  packages/design/src/collapse/demo/custom.tsx
  packages/design/src/collapse/demo/expand-icon-position.tsx
  packages/design/src/collapse/demo/ghost.tsx
  packages/design/src/collapse/index.md
  packages/design/src/config-provider/index.tsx
  packages/design/src/theme/default.ts
Labels: documentation, @oceanbase/design, style, feature, Collapse

#883 improve(ui): cusor style for DateRanger
  packages/design/src/card/demo/grid.tsx
  packages/ui/src/DateRanger/index.less
Labels: @oceanbase/ui, style, improvement, DateRanger

#884 optimize(ui): dynamic import @antv/g6 for load perf
  packages/ui/src/TaskGraph/Graph.tsx
Labels: @oceanbase/ui, optimize, TaskGraph

#886 optimize(build): Add sideEffects for tree shaking
  packages/charts/package.json
  packages/design/package.json
  packages/icons/package.json
  packages/ui/package.json
  packages/util/package.json
Labels: @oceanbase/design, @oceanbase/ui, @oceanbase/charts, @oceanbase/icons, @oceanbase/util, build, optimize

#888 fix(site): show code and debug for demo should work
  .dumi/theme/builtins/DemoWrapper/index.tsx
  packages/charts/src/Pie/index.md
  packages/design/src/card/index.md
  packages/design/src/empty/index.md
  packages/design/src/form/index.md
  packages/design/src/typography/index.md
  packages/ui/src/PageContainer/index.md
Labels: site, demo, bugfix

#885 improve(ui): DateRanger style
  packages/ui/src/DateRanger/PickerPanel.tsx
  packages/ui/src/DateRanger/Ranger.tsx
  packages/ui/src/DateRanger/constant/index.ts
  packages/ui/src/DateRanger/demo/updateCurrentTime.tsx
  packages/ui/src/DateRanger/index.less
  packages/ui/src/DateRanger/index.md
  packages/ui/src/DateRanger/locale/en-US.ts
  packages/ui/src/DateRanger/locale/zh-CN.ts
  packages/ui/src/DateRanger/locale/zh-TW.ts
Labels: @oceanbase/ui, style, improvement, DateRanger

#889 fix(ci): ContentWithQuestion and Action ts error
  packages/ui/src/Action/Group.tsx
  packages/ui/src/ContentWithQuestion/style/index.ts
Labels: @oceanbase/ui, CI, bugfix, ContentWithQuestion, Action

#891 improve(design): Table empty height in Popover and Tooltip
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, style, improvement, Table

#892 chore(docs): Add changelog for @oceanbase/design@0.4.3 and @oceanbase/ui@0.4.4
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
Labels: documentation, @oceanbase/design, @oceanbase/ui, chore, changelog

#890 chore(deps): Upgrade part of deps to latest
  package.json
  packages/charts/package.json
  packages/design/package.json
  packages/icons/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  vitest.config.ts
Labels: dependencies, chore

#894 improve(design): path resolve compatible with bigfish 3
  packages/design/src/global.css
Labels: @oceanbase/design, improvement, build

#895 chore(docs): Add changelog for @oceanbase/design@0.4.4
  docs/design/design-CHANGELOG.md
Labels: documentation, @oceanbase/design, chore, changelog

#896 [Feature Branch] chore(merge): Merge master branch of v0.4.5
  docs/design/design-CHANGELOG.md
  package.json
  packages/charts/package.json
  packages/codemod/package.json
  packages/design/package.json
  packages/design/src/global.css
  packages/icons/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  vitest.config.ts
Labels: chore, merge, Feature Branch

#902 chore(ui): Add Action demo with tooltip and popconfirm
  packages/ui/src/Action/demo/with-tooltip-popconfirm.tsx
  packages/ui/src/Action/index.md
Labels: @oceanbase/ui, demo, chore, Action

#909 fix(workflow): Remove pr-id.text in preview to avoid security problem
  .github/workflows/preview-build.yml
  .github/workflows/preview-deploy.yml
Labels: workflow, bugfix, security

#910 fix(design): Table border-radius and column padding-left style
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, style, Table, bugfix

#911 feat(ui): Action add moreType prop and improve its judge logic
  packages/ui/src/Action/Group.tsx
  packages/ui/src/Action/index.md
Labels: @oceanbase/ui, improvement, feature, Action

#912 chore(docs): Add changelog for @oceanbase/design@0.4.5 and @oceanbase/ui@0.4.6
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
Labels: documentation, @oceanbase/design, @oceanbase/ui, chore, changelog

#913 [Feature Branch] chore(merge): Merge master branch of v0.4.6
  .dumirc.ts
  .github/workflows/preview-build.yml
  .github/workflows/preview-deploy.yml
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
  packages/codemod/package.json
  packages/design/package.json
  packages/design/src/table/style/index.ts
  packages/ui/package.json
  packages/ui/src/Action/Group.tsx
  packages/ui/src/Action/demo/with-tooltip-popconfirm.tsx
  packages/ui/src/Action/index.md
  packages/ui/src/DateRanger/Ranger.tsx
  packages/ui/src/DateRanger/constant/index.ts
  packages/ui/src/DateRanger/demo/locale.tsx
  packages/ui/src/DateRanger/index.md
  packages/ui/src/DateRanger/typing.ts
  packages/ui/src/locale/LocaleWrapper.tsx
Labels: chore, merge, Feature Branch
