Repository oceanbase/oceanbase-design, pull requests merged in 2024-07, with the labels that each got.

#629 chore(ui): Modify company name for BasicLayout about
  packages/ui/src/BasicLayout/locale/en-US.ts
  packages/ui/src/BasicLayout/locale/zh-CN.ts
  packages/ui/src/BasicLayout/locale/zh-TW.ts
Labels: @oceanbase/ui, BasicLayout, chore, text

#631 chore(docs): Add changelog for @oceanbase/design@0.3.6 and @oceanbase/ui@0.3.6
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
Labels: documentation, @oceanbase/design, @oceanbase/ui, chore, changelog

#633 config: Add clarity script for user behavior analytics
  .dumirc.ts
Labels: site, config

#636 [Feature Branch] chore(workflow): GITHUB_TOKEN => SYNC_TOKEN for sync-feature-branch
  .github/workflows/sync-feature-branch.yml
Labels: workflow, chore, Feature Branch

#639 feat(codemod): Add more color map for token
  packages/codemod/transforms/utils/token.js
Labels: @oceanbase/codemod, feature, token

#638 [Feature Branch] fix(docs): typo in README.md
  README.md
Labels: documentation, bugfix, Feature Branch, README

#640 docs(design): Add docs and demo for Switch
  .dumirc.ts
  packages/design/src/switch/demo/basic.tsx
  packages/design/src/switch/demo/disabled.tsx
  packages/design/src/switch/demo/loading.tsx
  packages/design/src/switch/demo/size.tsx
  packages/design/src/switch/index.md
Labels: documentation, @oceanbase/design, demo

#641 improve(design): colorTextTertiary => colorTextSecondary for Table thead color
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, style, improvement, Table

#642 improve(design): Update colorBgBase token
  packages/design/src/theme/default.ts
  packages/design/src/theme/style/compact.less
  packages/design/src/theme/style/default.less
Labels: @oceanbase/design, improvement, token

#643 feat(design): Add aliyun theme less variable
  package.json
  packages/design/package.json
  packages/design/src/theme/aliyun.ts
  packages/design/src/theme/style/aliyun.less
  plugin-theme-less.ts
  pnpm-lock.yaml
Labels: @oceanbase/design, theme, feature

#644 improve(docs): Update theme usage docs
  packages/design/src/theme/index.md
Labels: documentation, @oceanbase/design, improvement, theme

#645 chore(deps): Upgrade antd from 5.18.3 to 5.19.2
  package.json
  packages/design/package.json
  packages/design/src/list/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/modal/__tests__/__snapshots__/progress.test.tsx.snap
  packages/design/src/table/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/PageContainer/__tests__/__snapshots__/index.test.tsx.snap
  pnpm-lock.yaml
Labels: dependencies, CI, chore

#646 chore(design): Update theme less variable
  packages/design/src/theme/style/aliyun.less
  packages/design/src/theme/style/compact.less
  packages/design/src/theme/style/dark.less
  packages/design/src/theme/style/default.less
Labels: @oceanbase/design, chore, token, less

#653 [Feature Branch] improve(design): Tooltip background color change to #ffffff
  packages/design/src/form/demo/form-item-tooltip.tsx
  packages/design/src/theme/default.ts
  packages/design/src/theme/style/compact.less
  packages/design/src/theme/style/dark.less
  packages/design/src/theme/style/default.less
  packages/design/src/tooltip/MouseTooltip.tsx
  packages/design/src/tooltip/demo/mouse-follow.tsx
  packages/design/src/tooltip/demo/type.tsx
  packages/design/src/tooltip/hooks/useTooltipTypeList.ts
  packages/design/src/tooltip/index.md
  packages/design/src/tooltip/index.tsx
Labels: @oceanbase/design, Tooltip, style, improvement, token

#655 [Feature Branch] chore(deps): Upgrade all deps
  package.json
  packages/codemod/package.json
  packages/design/package.json
  packages/design/src/list/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/theme/style/compact.less
  packages/design/src/theme/style/default.less
  packages/icons/package.json
  packages/ui/package.json
  packages/util/package.json
  pnpm-lock.yaml
Labels: dependencies, chore, Feature Branch

#657 chore(design): Add icon and dropdown button demo
  packages/design/src/button/demo/dropdown.tsx
  packages/design/src/button/demo/icon.tsx
  packages/design/src/button/index.md
Labels: @oceanbase/design, demo, chore, Button

#658 chore(design): Add password, showCount and allowClear demo for Input
  packages/design/src/input/demo/allowClear.tsx
  packages/design/src/input/demo/password.tsx
  packages/design/src/input/demo/showCount.tsx
  packages/design/src/input/index.md
Labels: @oceanbase/design, demo, chore, Input

#660 chore(docs): Add changelog for @oceanbase/design@0.3.7 and @oceanbase/codemod@0.3.6
  docs/codemod/codemod-CHANGELOG.md
  docs/design/design-CHANGELOG.md
Labels: documentation, @oceanbase/design, @oceanbase/codemod, chore, changelog

#659 [Feature Branch] feat(design): Tabs items and TabPane add divider prop
  packages/design/src/tabs/TabPane.tsx
  packages/design/src/tabs/demo/divider.tsx
  packages/design/src/tabs/demo/tab-pane.tsx
  packages/design/src/tabs/hooks/useLegacyItems.tsx
  packages/design/src/tabs/index.md
  packages/design/src/tabs/index.tsx
  packages/design/src/tabs/style/index.ts
  tsconfig.json
Labels: @oceanbase/design, feature, Tabs, Feature Branch

#662 [Feature Branch] config(ts): Enable strict mode and fix TS error
  packages/design/src/_util/getEllipsisConfig.ts
  packages/design/src/button/style/index.ts
  packages/design/src/card/index.tsx
  packages/design/src/config-provider/index.tsx
  packages/design/src/descriptions/hooks/useItems.tsx
  packages/design/src/drawer/index.tsx
  packages/design/src/input-number/index.tsx
  packages/design/src/input/Input.tsx
  packages/design/src/input/Password.tsx
  packages/design/src/input/Search.tsx
  packages/design/src/input/TextArea.tsx
  packages/design/src/lottie/index.tsx
  packages/design/src/modal/Modal.tsx
  packages/design/src/segmented/style/index.ts
  packages/design/src/select/style/index.ts
  packages/design/src/space/style/index.ts
  packages/design/src/static-function/index.tsx
  packages/design/src/table/index.tsx
  packages/design/src/tag/style/index.ts
  packages/design/src/theme/default.ts
  packages/design/src/theme/util/format.ts
  packages/design/src/tooltip/MouseTooltip.tsx
  packages/design/src/tree-select/style/index.ts
  packages/design/src/typography/Link.tsx
  packages/design/src/typography/Paragraph.tsx
  packages/design/src/typography/Title.tsx
  packages/design/src/typography/style/index.ts
  packages/util/package.json
  packages/util/src/hooks/useQuery.ts
  packages/util/src/hooks/useScrollToPosition.ts
  packages/util/src/hooks/useTableData.ts
  packages/util/src/util/index.ts
  pnpm-lock.yaml
Labels: config, TypeScript, build
