Repository oceanbase/oceanbase-design, pull requests merged in 2024-11, with the labels that each got.

#802 fix(icons): Remove UserOutlined to avoid conflicts with @ant-design/icons
  packages/icons/src/asn/UserOutlined.ts
  packages/icons/src/icons/UserOutlined.tsx
  packages/icons/src/index.ts
  packages/icons/svg/outlined/user.svg
Labels: @oceanbase/icons, bugfix

#803 improve(design): primary Dropdown.Button divider and background style
  .dumirc.ts
  packages/design/src/button/demo/dropdown.tsx
  packages/design/src/button/style/index.ts
  packages/design/src/dropdown/demo/basic.tsx
  packages/design/src/dropdown/demo/dropdown-button.tsx
  packages/design/src/dropdown/index.md
Labels: @oceanbase/design, style, improvement, bugfix, Dropdown

#804 chore(deps): Upgrade antd from ^5.20.6 to ^5.21.6
  package.json
  packages/codemod/package.json
  packages/design/package.json
  packages/design/src/config-provider/__tests__/__snapshots__/form.test.tsx.snap
  packages/design/src/drawer/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/modal/__tests__/__snapshots__/modal.test.tsx.snap
  packages/design/src/modal/__tests__/__snapshots__/progress.test.tsx.snap
  packages/design/src/segmented/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/table/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/theme/style/aliyun.less
  packages/design/src/theme/style/compact.less
  packages/design/src/theme/style/dark.less
  packages/design/src/theme/style/default.less
  packages/icons/package.json
  packages/ui/package.json
  packages/ui/src/FooterToolbar/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/PageContainer/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/ProTable/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/locale/LocaleWrapper.tsx
  packages/util/package.json
  pnpm-lock.yaml
Labels: dependencies, chore, antd

#810 feat(ui): [date-ranger] improve func and add more props
  packages/ui/src/DateRanger/PickerPanel.tsx
  packages/ui/src/DateRanger/Ranger.tsx
  packages/ui/src/DateRanger/__test__/index.test.tsx
  packages/ui/src/DateRanger/constant/index.ts
  packages/ui/src/DateRanger/index.md
Labels: DateRanger

#811 improve(design): vertical align center => baseline for over length Radio
  packages/design/src/index.ts
  packages/design/src/radio/demo/over-length.tsx
  packages/design/src/radio/index.md
  packages/design/src/radio/index.ts
  packages/design/src/radio/index.tsx
  packages/design/src/radio/style/index.ts
Labels: @oceanbase/design, style, improvement, Radio

#812 improve(design): vertical align center => baseline for over length Checkbox
  .dumirc.ts
  packages/design/src/checkbox/demo/basic.tsx
  packages/design/src/checkbox/demo/group.tsx
  packages/design/src/checkbox/demo/over-length.tsx
  packages/design/src/checkbox/index.md
  packages/design/src/checkbox/index.ts
  packages/design/src/checkbox/index.tsx
  packages/design/src/checkbox/interface.ts
  packages/design/src/checkbox/style/index.ts
  packages/design/src/index.ts
Labels: @oceanbase/design, style, improvement, Checkbox

#813 fix(design): Remove custom token of fontSizeHeading and lineHeightHea…
  packages/design/src/theme/default.ts
  packages/design/src/theme/style/compact.less
  packages/design/src/theme/style/default.less
Labels: @oceanbase/design, bugfix, token

#814 improve(design): Update Empty default image
  packages/design/src/empty/default.tsx
Labels: @oceanbase/design, style, improvement, Empty

#815 improve(design): Slider color and align style
  .dumirc.ts
  package.json
  packages/design/package.json
  packages/design/src/checkbox/interface.ts
  packages/design/src/index.ts
  packages/design/src/slider/demo/basic.tsx
  packages/design/src/slider/demo/marks.tsx
  packages/design/src/slider/demo/vertical.tsx
  packages/design/src/slider/index.md
  packages/design/src/slider/index.ts
  packages/design/src/slider/index.tsx
  packages/design/src/slider/style/index.ts
  packages/design/src/theme/default.ts
  packages/ui/package.json
  packages/ui/src/DateRanger/Ranger.tsx
  pnpm-lock.yaml
Labels: @oceanbase/design, style, improvement, Slider

#816 improve(design): Breadcrumb last item color
  packages/design/src/theme/default.ts
Labels: @oceanbase/design, style, improvement, Breadcrumb

#817 improve(ui): Remove PageContainer header paddingBlockStart
  packages/ui/src/PageContainer/style/index.ts
Labels: @oceanbase/ui, PageContainer, style, improvement

#819 improve(design): Card body padding-bottom without divider
  packages/design/src/card/style/index.ts
Labels: @oceanbase/design, style, improvement, Card

#820 improve(ui): Password style
  packages/ui/src/Password/Content.tsx
  packages/ui/src/Password/index.tsx
  packages/ui/src/Password/locale/en-US.ts
  packages/ui/src/Password/locale/zh-CN.ts
  packages/ui/src/Password/locale/zh-TW.ts
Labels: @oceanbase/ui, style, improvement, Password

#821 improve(design): small Card head padding-top with tabs set to 8px
  packages/design/src/card/style/index.ts
  packages/design/src/switch/demo/size.tsx
Labels: @oceanbase/design, style, improvement, Card

#822 improve(design): Table border-bottom display logic
  packages/design/src/table/index.tsx
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, style, improvement, Table

#823 fix(design): Table border-radius should be 0 in some cases
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, style, Table, bugfix

#824 improve(design): ConfigProvider add appProps to control .ant-app style work
  packages/design/src/config-provider/__tests__/__snapshots__/appProps.test.tsx.snap
  packages/design/src/config-provider/__tests__/appProps.test.tsx
  packages/design/src/config-provider/index.md
  packages/design/src/config-provider/index.tsx
Labels: @oceanbase/design, ConfigProvider, improvement, App

#825 improve(ui): ProTable expandable, empty and footer style follow Table
  packages/design/src/table/__tests__/index.test.tsx
  packages/design/src/table/index.md
  packages/ui/src/ProTable/__tests__/index.test.tsx
  packages/ui/src/ProTable/demo/empty.tsx
  packages/ui/src/ProTable/demo/expandable.tsx
  packages/ui/src/ProTable/index.md
  packages/ui/src/ProTable/index.tsx
Labels: @oceanbase/ui, style, improvement, ProTable

#826 chore(docs): Add changelog for @oceanbase/design@0.4.1 and @oceanbase/ui@0.4.1
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
  packages/ui/src/Password/locale/en-US.ts
Labels: documentation, @oceanbase/design, @oceanbase/ui, chore, changelog

#832 fix(design): Slider start and end mark should align always
  packages/design/src/slider/style/index.ts
Labels: @oceanbase/design, bugfix, Slider

#833 improve(design): Switch unchecked background color
  packages/design/src/index.ts
  packages/design/src/radio/index.tsx
  packages/design/src/switch/demo/text.tsx
  packages/design/src/switch/index.md
  packages/design/src/switch/index.ts
  packages/design/src/switch/index.tsx
  packages/design/src/switch/style/index.ts
Labels: @oceanbase/design, style, improvement, Switch

#839 improve(design): Typography editable and editing style
  packages/design/src/typography/Link.tsx
  packages/design/src/typography/Paragraph.tsx
  packages/design/src/typography/Text.tsx
  packages/design/src/typography/Title.tsx
  packages/design/src/typography/demo/editable.tsx
  packages/design/src/typography/hooks/useClassName.ts
  packages/design/src/typography/index.md
  packages/design/src/typography/style/index.ts
Labels: @oceanbase/design, style, improvement, Typography

#840 fix(design): Typographt.Text editable and edit style should be correct
  packages/design/src/typography/hooks/useClassName.ts
  packages/design/src/typography/style/index.ts
Labels: @oceanbase/design, bugfix, Typography

#841 improve(design): lineWidthFocus token => 0 to remove focus outline
  packages/design/src/theme/default.ts
Labels: @oceanbase/design, improvement, token

#843 chore(deps): Upgrade antd from ^5.21.6 to ^5.22.1
  package.json
  packages/codemod/package.json
  packages/design/package.json
  packages/design/src/list/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/select/__tests__/__snapshots__/placeholder.test.tsx.snap
  packages/design/src/table/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/theme/style/compact.less
  packages/design/src/theme/style/default.less
  packages/design/src/tree-select/__tests__/__snapshots__/placeholder.test.tsx.snap
  packages/ui/package.json
  packages/ui/src/PageContainer/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/ProTable/__tests__/__snapshots__/index.test.tsx.snap
  pnpm-lock.yaml
Labels: dependencies, chore

#844 improve(style): Empty description max-width => 600px and steps max-width => 1000px for over length style
  packages/design/src/empty/demo/over-length.tsx
  packages/design/src/empty/index.md
  packages/design/src/empty/style/index.ts
Labels: @oceanbase/design, style, improvement, Empty

#845 improve(design): Empty and Result title font-size 24px => 20px
  packages/design/src/empty/style/index.ts
  packages/design/src/result/style/index.ts
Labels: @oceanbase/design, style, improvement, Empty, Result

#846 improve(design): scrollbar color
  packages/design/src/reset.css
Labels: @oceanbase/design, style, improvement

#847 improve(design): Tooltip max-width => 300px and max-height => 250px
  packages/design/src/tooltip/demo/over-length.tsx
  packages/design/src/tooltip/index.md
  packages/design/src/tooltip/style/index.ts
Labels: @oceanbase/design, Tooltip, style, improvement

#848 improve(design): Tooltip closeIcon color
  packages/design/src/tooltip/style/index.ts
Labels: @oceanbase/design, Tooltip, style, improvement

#849 fix(design): mouseFollow Tooltip should inherit `.ant-tooltip` className
  packages/design/src/tooltip/MouseTooltip.tsx
  packages/design/src/tooltip/__tests__/index.test.tsx
  packages/design/src/tooltip/demo/mouse-follow.tsx
  packages/design/src/tooltip/index.tsx
Labels: @oceanbase/design, Tooltip, bugfix

#850 feat(design): Add Popover docs and demos
  .dumirc.ts
  packages/design/src/popover/demo/basic.tsx
  packages/design/src/popover/demo/over-length.tsx
  packages/design/src/popover/demo/trigger.tsx
  packages/design/src/popover/demo/with-table.tsx
  packages/design/src/popover/index.md
  packages/design/src/tooltip/demo/over-length.tsx
  packages/design/src/tooltip/index.md
Labels: documentation, @oceanbase/design, demo, feature, Popover

#851 feat(design): Add Popconfirm docs and demos
  .dumirc.ts
  packages/design/src/popconfirm/demo/basic.tsx
  packages/design/src/popconfirm/demo/promise.tsx
  packages/design/src/popconfirm/index.md
Labels: documentation, @oceanbase/design, demo, feature, Popconfirm

#852 feat(design): Add DatePicker docs and demos
  .dumirc.ts
  packages/design/src/date-picker/demo/basic.tsx
  packages/design/src/date-picker/demo/ranger-picker.tsx
  packages/design/src/date-picker/index.md
Labels: documentation, @oceanbase/design, demo, feature, DatePicker

#853 feat(design): Add TimePicker docs and demos
  .dumirc.ts
  packages/design/src/date-picker/demo/range-picker.tsx
  packages/design/src/date-picker/index.md
  packages/design/src/time-picker/demo/basic.tsx
  packages/design/src/time-picker/demo/disabled.tsx
  packages/design/src/time-picker/demo/format.tsx
  packages/design/src/time-picker/demo/range-picker.tsx
  packages/design/src/time-picker/index.md
Labels: documentation, @oceanbase/design, demo, feature, TimePicker

#854 feat(design): DatePicker add format and global format demo
  packages/design/src/date-picker/demo/basic.tsx
  packages/design/src/date-picker/demo/format.tsx
  packages/design/src/date-picker/demo/global-format.tsx
  packages/design/src/date-picker/index.md
  packages/ui/src/locale/en-US.ts
Labels: @oceanbase/design, demo, ConfigProvider, feature, DatePicker

#855 fix(design): reset.css should build to dist + CodeSandbox build error
  packages/design/package.json
  packages/design/src/global.css
  packages/design/src/index.ts
  packages/design/src/reset.css
Labels: @oceanbase/design, bugfix, build

#861 improve(design): Load custom font from local as priority
  packages/design/src/_util/genComponentStyleHook.ts
  packages/design/src/fonts/Consolas.woff2
  packages/design/src/fonts/HelveticaNeue.woff2
  packages/design/src/fonts/Inter.woff2
  packages/design/src/global.css
Labels: @oceanbase/design, improvement, font

#863 chore(README): Add contributors image
  README.md
Labels: chore, README

#864 improve(design): Table virtual scrollbar color
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, style, improvement, Table

#865 improve(design): Table expandable style
  packages/design/src/card/index.tsx
  packages/design/src/table/demo/card-table.tsx
  packages/design/src/table/demo/dynamic-settings.tsx
  packages/design/src/table/index.tsx
  packages/design/src/table/style/index.ts
  packages/ui/src/ProTable/index.tsx
Labels: @oceanbase/design, improvement, Table

#866 chore(docs): Add changelog for @oceanbase/design@0.4.2 and @oceanbase/ui@0.4.2
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
Labels: documentation, chore, changelog
