Repository oceanbase/oceanbase-design, pull requests merged in 2024-05, with the labels that each got.

#586 improve(design): Empty steps style
  packages/design/src/empty/style/index.ts
Labels: style, improvement, Design, Empty

#587 improve(design): Breadcrumb style
  .dumirc.ts
  packages/design/src/breadcrumb/demo/basic.tsx
  packages/design/src/breadcrumb/demo/icon.tsx
  packages/design/src/breadcrumb/demo/menu.tsx
  packages/design/src/breadcrumb/index.md
  packages/design/src/cascader/index.md
  packages/design/src/theme/default.ts
Labels: @oceanbase/design, style, improvement, Breadcrumb

#588 improve(ui): PageContainer style
  packages/ui/src/PageContainer/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/PageContainer/demo/basic.tsx
  packages/ui/src/PageContainer/demo/complete.tsx
  packages/ui/src/PageContainer/demo/empty.tsx
  packages/ui/src/PageContainer/demo/extra-footer.tsx
  packages/ui/src/PageContainer/demo/with-tabs.tsx
  packages/ui/src/PageContainer/index.md
  packages/ui/src/PageContainer/index.tsx
  packages/ui/src/PageContainer/style/index.ts
Labels: @oceanbase/ui, PageContainer, style, improvement

#589 chore(docs): Add changelog for @oceanbase/design@0.3.4 and @oceanbase/ui@0.3.4
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
  pnpm-lock.yaml
Labels: documentation, @oceanbase/design, @oceanbase/ui, chore, changelog

#590 [Feature Branch] chore(merge): Merge master branch of v0.3.4
  .dumirc.ts
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
  packages/codemod/package.json
  packages/design/package.json
  packages/design/src/breadcrumb/demo/basic.tsx
  packages/design/src/breadcrumb/demo/icon.tsx
  packages/design/src/breadcrumb/demo/menu.tsx
  packages/design/src/breadcrumb/index.md
  packages/design/src/cascader/index.md
  packages/design/src/empty/style/index.ts
  packages/design/src/theme/default.ts
  packages/ui/package.json
  packages/ui/src/PageContainer/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/PageContainer/demo/basic.tsx
  packages/ui/src/PageContainer/demo/complete.tsx
  packages/ui/src/PageContainer/demo/empty.tsx
  packages/ui/src/PageContainer/demo/extra-footer.tsx
  packages/ui/src/PageContainer/demo/with-tabs.tsx
  packages/ui/src/PageContainer/index.md
  packages/ui/src/PageContainer/index.tsx
  packages/ui/src/PageContainer/style/index.ts
  pnpm-lock.yaml
Labels: merge, Feature Branch

#591 fix(design): Table locale & BatchOperationBar keys should related rowSelection
  packages/design/src/table/__tests__/index.test.tsx
  packages/design/src/table/demo/row-selection.tsx
  packages/design/src/table/index.tsx
Labels: @oceanbase/design, Table, bugfix, locale

#295 [Feature Branch]feat: Add new Ranger
  .dumirc.ts
  packages/design/src/config-provider/__tests__/__snapshots__/prefixCls.tsx.snap
  packages/design/src/config-provider/__tests__/form.test.tsx
  packages/design/src/config-provider/__tests__/prefixCls.tsx
  packages/ui/package.json
  packages/ui/src/DateRanger/PickerPanel.tsx
  packages/ui/src/DateRanger/Ranger.tsx
  packages/ui/src/DateRanger/__test__/index.test.tsx
  packages/ui/src/DateRanger/constant/index.ts
  packages/ui/src/DateRanger/demo/basic.tsx
  packages/ui/src/DateRanger/demo/default-value.tsx
  packages/ui/src/DateRanger/demo/selected.tsx
  packages/ui/src/DateRanger/demo/with-form.tsx
  packages/ui/src/DateRanger/index.less
  packages/ui/src/DateRanger/index.md
  packages/ui/src/DateRanger/index.ts
  packages/ui/src/DateRanger/locale/en-US.ts
  packages/ui/src/DateRanger/locale/zh-CN.ts
  packages/ui/src/DateRanger/locale/zh-TW.ts
  packages/ui/src/DateRanger/typing.ts
  packages/ui/src/FooterToolbar/style/index.ts
  packages/ui/src/PageContainer/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/PageContainer/style/index.ts
  packages/ui/src/ProTable/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/TagSelect/style/index.ts
  packages/ui/src/index.ts
  packages/ui/src/locale/en-US.ts
  packages/ui/src/locale/zh-CN.ts
  packages/ui/src/locale/zh-TW.ts
  packages/ui/tsconfig.json
  packages/util/src/util/index.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: Feature Branch
