Repository oceanbase/oceanbase-design, pull requests merged in 2025-01, with the labels that each got.

#924 fix(design): middle and small expandable Table cell height should be correct
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, style, Table, bugfix

#925 improve(design): Add cursor style for expandRowByClick Table
  .dumi/theme/common/styles/Markdown.tsx
  packages/design/src/table/demo/expandable.tsx
  packages/design/src/table/demo/multiple-nesting-tables.tsx
  packages/design/src/table/demo/nesting-tables.tsx
  packages/design/src/table/index.md
  packages/design/src/table/index.tsx
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, improvement, Table

#926 improve(ui): Action.Link gap 8px => 16px
  packages/ui/src/Action/Group.tsx
  packages/ui/src/Action/demo/button.tsx
  packages/ui/src/Action/demo/fixed.tsx
  packages/ui/src/Action/demo/groupControl.tsx
  packages/ui/src/Action/demo/link.tsx
  packages/ui/src/Action/demo/more-text.tsx
  packages/ui/src/Action/demo/with-tooltip-popconfirm.tsx
  packages/ui/src/Action/index.md
Labels: @oceanbase/ui, demo, style, improvement, Action

#928 feat(ui): Action support indirect nesting children
  packages/ui/src/Action/Group.tsx
  packages/ui/src/Action/Item.tsx
  packages/ui/src/Action/demo/children-wrapper.tsx
  packages/ui/src/Action/demo/group-control.tsx
  packages/ui/src/Action/index.md
  packages/ui/src/Action/style/index.ts
Labels: @oceanbase/ui, feature, Action

#931 improve(ui): Action ellipsis button width and dropdown menu minWidth
  packages/ui/src/Action/Group.tsx
Labels: @oceanbase/ui, style, improvement, Action

#932 improve(design): large and small Tabs tab padding
  packages/design/src/tabs/style/index.ts
Labels: @oceanbase/design, style, improvement, Tabs

#929 fix(ui): DateRanger allowClear should work
  packages/ui/src/DateRanger/PickerPanel.tsx
  packages/ui/src/DateRanger/Ranger.tsx
  packages/ui/src/DateRanger/demo/basic.tsx
  packages/ui/src/DateRanger/demo/locale.tsx
  packages/ui/src/DateRanger/index.less
Labels: @oceanbase/ui, bugfix, DateRanger

#933 improve(design): Table margin in Card and ProCard without divider
  packages/design/src/card/index.tsx
  packages/design/src/card/style/index.ts
  packages/design/src/table/demo/card-table.tsx
  packages/design/src/table/demo/pro-card-table.tsx
  packages/design/src/table/style/index.ts
  packages/ui/src/ProCard/index.tsx
Labels: style, improvement, Table, Card, ProCard

#934 improve(ui): Remove DateRanger picker box-shadow when focus
  packages/ui/src/DateRanger/demo/simple-mode.tsx
  packages/ui/src/DateRanger/index.less
  packages/ui/src/DateRanger/index.md
Labels: @oceanbase/ui, style, improvement, DateRanger

#937 improve(ui): ProCard tabs follow Card tabs style
  packages/design/src/card/style/index.ts
  packages/design/src/table/demo/pro-card-table.tsx
  packages/design/src/table/style/index.ts
  packages/design/src/tabs/index.tsx
  packages/design/src/tabs/style/index.ts
  packages/design/src/tag/style/index.ts
  packages/ui/src/ProCard/demo/basic.tsx
  packages/ui/src/ProCard/index.md
  packages/ui/src/ProCard/index.tsx
  packages/ui/src/ProCard/style/index.ts
  packages/ui/src/TagSelect/style/index.ts
Labels: @oceanbase/ui, style, improvement, ProCard

#938 improve(ui): ProCard border-radius, box-shadow and body padding follow Card style
  packages/design/src/card/demo/border-less.tsx
  packages/design/src/card/demo/no-divider.tsx
  packages/design/src/space/demo/vertical.tsx
  packages/design/src/table/demo/card-table.tsx
  packages/design/src/table/demo/pro-card-table.tsx
  packages/ui/src/ProCard/demo/basic.tsx
  packages/ui/src/ProCard/style/index.ts
Labels: @oceanbase/ui, style, improvement, ProCard

#941 fix(design): Table border-radius top style
  docs/design/design-CHANGELOG.md
  packages/design/src/table/demo/card-table.tsx
  packages/design/src/table/demo/pro-card-table.tsx
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, style, Table, bugfix

#942 chore(deps): Upgrade antd from ^5.22.5 to ^5.23.1 and update test snapshots
  package.json
  packages/charts/package.json
  packages/design/package.json
  packages/design/src/config-provider/__tests__/__snapshots__/form.test.tsx.snap
  packages/design/src/segmented/__tests__/__snapshots__/index.test.tsx.snap
  packages/icons/package.json
  packages/ui/package.json
  packages/ui/src/PageContainer/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/ProTable/__tests__/__snapshots__/index.test.tsx.snap
  pnpm-lock.yaml
Labels: dependencies, Test, chore, antd

#940 feat(DateRanger): Open rules verification function
  packages/ui/src/DateRanger/PickerPanel.tsx
  packages/ui/src/DateRanger/Ranger.tsx
  packages/ui/src/DateRanger/demo/rules.tsx
  packages/ui/src/DateRanger/index.md
  packages/ui/src/DateRanger/index.ts
Labels: @oceanbase/ui, feature, DateRanger

#944 chore(docs): Add changelog for @oceanbase/design@0.4.6 and @oceanbase/ui@0.4.7
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
Labels: documentation, chore, changelog

#946 enhance(codemod): rgb(240,242,245) => colorBgLayout token
  packages/codemod/transforms/utils/token.js
Labels: enhancement, @oceanbase/codemod, token

#947 improve(design): middle and small Table empty height
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, improvement, Table

#948 improve(ui): ProTable follow Table style in no padding Card
  .dumi/theme/common/styles/Markdown.tsx
  packages/ui/src/ProTable/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/ProTable/index.tsx
  packages/ui/src/ProTable/style/index.ts
Labels: @oceanbase/ui, style, improvement, ProTable

#949 improve(design): Set required to true for Form.Item with Switch to hide optional mark
  packages/design/src/form/FormItem.tsx
  packages/design/src/form/__tests__/__snapshots__/switch.test.tsx.snap
  packages/design/src/form/__tests__/switch.test.tsx
Labels: @oceanbase/design, improvement, Form, Switch

#950 chore(design): Add form demo for Modal and Card
  packages/design/src/card/demo/with-form.tsx
  packages/design/src/card/index.md
  packages/design/src/modal/demo/form.tsx
  packages/design/src/modal/index.md
Labels: @oceanbase/design, demo, Modal, chore, Card, Form

#951 improve(site): Unify demo layout by prettier-ignore comment
  docs/design/design-i18n.md
  packages/charts/src/Area/index.md
  packages/charts/src/Bar/index.md
  packages/charts/src/Column/index.md
  packages/charts/src/DualAxes/index.md
  packages/charts/src/Gauge/index.md
  packages/charts/src/Histogram/index.md
  packages/charts/src/Line/index.md
  packages/charts/src/Liquid/index.md
  packages/charts/src/Score/index.md
  packages/charts/src/Stat/index.md
  packages/charts/src/Tiny/index.md
  packages/design/src/descriptions/index.md
  packages/design/src/drawer/index.md
  packages/design/src/grid/index.md
  packages/design/src/input-number/index.md
  packages/design/src/list/index.md
  packages/design/src/message/index.md
  packages/design/src/notification/index.md
  packages/design/src/popconfirm/index.md
  packages/design/src/popover/index.md
  packages/design/src/result/index.md
  packages/design/src/segmented/index.md
  packages/design/src/space/index.md
  packages/design/src/tabs/index.md
  packages/design/src/tag/index.md
  packages/design/src/theme/index.md
  packages/design/src/tooltip/index.md
  packages/ui/src/BackgroundTaskManager/index.md
  packages/ui/src/BasicLayout/index.md
  packages/ui/src/BatchOperationBar/index.md
  packages/ui/src/Boundary/index.md
  packages/ui/src/ContentWithIcon/index.md
  packages/ui/src/ContentWithQuestion/index.md
  packages/ui/src/Dialog/index.md
  packages/ui/src/DocDialog/index.md
  packages/ui/src/FooterToolbar/index.md
  packages/ui/src/GraphToolbar/index.md
  packages/ui/src/IconFont/index.md
  packages/ui/src/LightFilter/index.md
  packages/ui/src/Login/index.md
  packages/ui/src/Lottie/index.md
  packages/ui/src/NavMenu/index.md
  packages/ui/src/PageLoading/index.md
  packages/ui/src/Password/index.md
  packages/ui/src/ProTable/index.md
  packages/ui/src/Ranger/index.md
  packages/ui/src/TagSelect/index.md
  packages/ui/src/TaskGraph/index.md
  packages/ui/src/TreeSearch/index.md
  packages/ui/src/Welcome/index.md
Labels: site, demo, improvement

#954 feat(docs): Add 11 docs for design foundation and principles
  .dumi/hooks/useMenu.tsx
  .dumi/theme/slots/Sidebar/index.tsx
  docs/blog/chart-classification-palette-design-guide.md
  docs/spec/avoid-error.md
  docs/spec/button-layout.md
  docs/spec/chart-color.md
  docs/spec/collapse.md
  docs/spec/data-format.md
  docs/spec/effective-feedback.md
  docs/spec/efficient.md
  docs/spec/i18n.md
  docs/spec/language-symbol.md
  docs/spec/loading.md
  docs/spec/navigation.md
  docs/spec/obvious.md
  docs/spec/page-container.md
  docs/spec/product-graphic.md
  docs/spec/product-icon.md
  docs/spec/radius.md
  docs/spec/shadow.md
  docs/spec/system-color.md
  docs/spec/text-truncation.md
  docs/spec/typography.md
  docs/spec/ux-writing.md
Labels: documentation, feature, Design

#955 feat(docs): Add component design docs for Alert, Button, Tabs, Table, Modal and DateRanger
  .dumi/hooks/useMenu.tsx
  .dumi/rehypePlugin.ts
  .dumi/theme/common/styles/Markdown.tsx
  .dumi/theme/slots/ContentTabs/index.tsx
  .dumirc.ts
  docs/spec/language-symbol.md
  docs/spec/ux-writing.md
  package.json
  packages/design/src/alert/index.$tab-design.md
  packages/design/src/alert/index.md
  packages/design/src/button/index.$tab-design.md
  packages/design/src/button/index.md
  packages/design/src/modal/index.$tab-design.md
  packages/design/src/modal/index.md
  packages/design/src/table/index.$tab-design.md
  packages/design/src/table/index.md
  packages/design/src/tabs/index.$tab-design.md
  packages/design/src/tabs/index.md
  packages/ui/src/DateRanger/index.$tab-design.md
  pnpm-lock.yaml
Labels: documentation, @oceanbase/design, @oceanbase/ui, Modal, Alert, feature, Tabs, Table, Design, Button, DateRanger

#956 improve(site): Mobile style
  .dumi/hooks/useMenu.tsx
  .dumi/pages/index/components/Banner.tsx
  .dumi/pages/index/components/util.ts
  .dumi/theme/builtins/IconSearch/index.tsx
  .dumi/theme/common/PrevAndNext.tsx
  .dumi/theme/common/styles/Responsive.tsx
  .dumi/theme/slots/Content/index.tsx
  .dumi/theme/slots/Header/index.tsx
  .dumi/theme/slots/Sidebar/index.tsx
  packages/design/src/button/demo/icon.tsx
  packages/design/src/menu/interface.ts
  packages/design/src/typography/demo/inner.tsx
Labels: site, style, improvement

#952 feat(ui): [date-ranger] support custom quick options
  packages/ui/src/DateRanger/Ranger.tsx
  packages/ui/src/DateRanger/demo/selected.tsx
  packages/ui/src/DateRanger/index.md
Labels: @oceanbase/ui, feature, DateRanger

#953 improve(DateRanger): Should start time is before the end time.
  packages/ui/src/DateRanger/PickerPanel.tsx
Labels: @oceanbase/ui, improvement, DateRanger
