Repository oceanbase/oceanbase-design, pull requests merged in 2025-04, with the labels that each got.

#1011 chore(design): Dropdown button demo
  packages/design/src/dropdown/demo/dropdown-button.tsx
Labels: @oceanbase/design, demo, chore, Dropdown

#1012 docs(design): Add docs and demo for AutoComplete
  .dumirc.ts
  docs/design/design-CHANGELOG.md
  packages/design/src/auto-complete/demo/basic.tsx
  packages/design/src/auto-complete/demo/non-case-sensitive.tsx
  packages/design/src/auto-complete/index.md
Labels: documentation, @oceanbase/design, AutoComplete

#1013 docs(design): Add docs and demo for Anchor
  .dumirc.ts
  packages/design/src/anchor/demo/basic.tsx
  packages/design/src/anchor/demo/horizontal.tsx
  packages/design/src/anchor/index.md
Labels: documentation, @oceanbase/design, demo, Anchor

#1014 docs(design): Add docs and demo for Steps
  .dumirc.ts
  packages/design/src/anchor/index.md
  packages/design/src/steps/demo/basic.tsx
  packages/design/src/steps/demo/clickable.tsx
  packages/design/src/steps/demo/inline.tsx
  packages/design/src/steps/demo/navigation.tsx
  packages/design/src/steps/demo/progress-dot.tsx
  packages/design/src/steps/demo/vertical.tsx
  packages/design/src/steps/index.md
Labels: documentation, @oceanbase/design, demo, Steps

#1015 docs(design): Add docs and demo for Menu
  .dumirc.ts
  packages/charts/src/Bar/index.md
  packages/charts/src/Line/index.md
  packages/design/src/badge/index.md
  packages/design/src/descriptions/index.md
  packages/design/src/divider/index.md
  packages/design/src/drawer/index.md
  packages/design/src/empty/index.md
  packages/design/src/form/index.md
  packages/design/src/input-number/index.md
  packages/design/src/input/index.md
  packages/design/src/menu/demo/horizontal.tsx
  packages/design/src/menu/demo/inline-collapsed.tsx
  packages/design/src/menu/demo/inline.tsx
  packages/design/src/menu/demo/theme.tsx
  packages/design/src/menu/demo/vertical.tsx
  packages/design/src/menu/index.md
  packages/design/src/modal/index.md
  packages/design/src/segmented/index.md
  packages/design/src/select/index.md
  packages/design/src/spin/index.md
  packages/design/src/table/index.md
  packages/design/src/tabs/index.md
  packages/design/src/tag/index.md
  packages/design/src/tooltip/index.md
  packages/ui/src/BasicLayout/index.md
  packages/ui/src/Boundary/index.md
  packages/ui/src/Dialog/index.md
  packages/ui/src/DocDialog/index.md
  packages/ui/src/PageContainer/index.md
  packages/ui/src/PageLoading/index.md
  packages/ui/src/Password/index.md
  packages/ui/src/ProCard/index.md
Labels: documentation, @oceanbase/design, demo, Menu

#1018 docs(design): Add docs and demo for Tree
  .dumirc.ts
  packages/design/src/tree/demo/basic.tsx
  packages/design/src/tree/demo/directory-tree.tsx
  packages/design/src/tree/demo/draggable.tsx
  packages/design/src/tree/demo/line.tsx
  packages/design/src/tree/demo/load-data.tsx
  packages/design/src/tree/index.md
  packages/ui/src/ContentWithIcon/index.tsx
Labels: documentation, @oceanbase/design, demo, Tree

#1019 docs(design): Add docs and demo for TreeSelect
  .dumirc.ts
  packages/design/src/tree-select/demo/checkable.tsx
  packages/design/src/tree-select/demo/line.tsx
  packages/design/src/tree-select/demo/load-data.tsx
  packages/design/src/tree-select/index.md
Labels: documentation, @oceanbase/design, demo, TreeSelect

#1025 improve(design): Form item extra add margin-top style
  .dumi/theme/common/styles/Markdown.tsx
  packages/design/src/form/demo/form-item-tooltip.tsx
  packages/design/src/form/demo/layout.tsx
  packages/design/src/form/demo/multiple-layout.tsx
  packages/design/src/form/index.md
  packages/design/src/form/index.tsx
  packages/design/src/form/style/index.ts
  packages/design/src/tree-select/index.tsx
Labels: @oceanbase/design, improvement, Form

#1026 improve(design): Form.Item additional text add margin-top style
  packages/design/src/form/style/index.ts
Labels: @oceanbase/design, style, improvement, Form

#1027 fix(design): Use react-inline-svg-unique-id to fix Empty svg id conflicts
  .dumirc.ts
  .fatherrc.base.ts
  package.json
  packages/design/package.json
  packages/design/src/empty/demo/tab-switch.tsx
  packages/design/src/empty/index.md
  pnpm-lock.yaml
Labels: @oceanbase/design, bugfix, Empty

#1029 feat(ui): Action.Button and Action.Link add divider prop
  packages/ui/src/Action/Group.tsx
  packages/ui/src/Action/Item.tsx
  packages/ui/src/Action/demo/button.tsx
  packages/ui/src/Action/demo/link.tsx
  packages/ui/src/Action/index.md
Labels: @oceanbase/ui, feature, Action

#1030 improve(design): Table padding when Card body horizontal padding is 0
  packages/design/src/_util/index.ts
  packages/design/src/card/index.tsx
  packages/design/src/card/style/index.ts
  packages/design/src/table/demo/card-table.tsx
  packages/design/src/table/demo/pro-card-table.tsx
  packages/ui/src/ProCard/index.tsx
  packages/ui/src/ProCard/style/index.ts
  vitest.config.ts
Labels: @oceanbase/design, improvement, Table, Card

#1032 improve(design): Unify Descriptions vertical margin style for all column
  packages/design/src/descriptions/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/descriptions/demo/vertical-single-column.tsx
  packages/design/src/descriptions/index.md
  packages/design/src/descriptions/index.tsx
  packages/design/src/descriptions/style/index.ts
Labels: @oceanbase/design, style, improvement, Descriptions

#1033 fix(design): editing Typography should align vertical in Descriptions
  packages/design/src/descriptions/demo/content.tsx
  packages/design/src/descriptions/hooks/useItems.tsx
  packages/design/src/descriptions/style/index.ts
Labels: @oceanbase/design, style, bugfix, Typography, Descriptions

#1034 chore(deps): Upgrade deps to latest
  .github/workflows/build.yml
  .github/workflows/site-deploy.yml
  .github/workflows/sync-feature-branch.yml
  .github/workflows/test.yml
  package.json
  packages/codemod/README.md
  packages/codemod/package.json
  packages/codemod/transforms/__testfixtures__/style-to-token/class-component.output.js
  packages/codemod/transforms/__testfixtures__/style-to-token/existed-useToken.output.js
  packages/codemod/transforms/__testfixtures__/style-to-token/function-component.output.js
  packages/codemod/transforms/__testfixtures__/style-to-token/function.output.js
  packages/codemod/transforms/__testfixtures__/style-to-token/hooks.output.js
  packages/codemod/transforms/__testfixtures__/style-to-token/nested-block-statement.output.js
  packages/design/package.json
  packages/design/src/config-provider/__tests__/__snapshots__/form.test.tsx.snap
  packages/design/src/form/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/package.json
  packages/ui/src/PageContainer/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/ProTable/__tests__/__snapshots__/index.test.tsx.snap
  pnpm-lock.yaml
  tests/vitest.setup.ts
  vitest.config.ts
Labels: dependencies, chore

#1035 improve(design): bordered Table header should be gray
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, style, improvement, Table

#1036 feat(design): Table add innerBordered prop
  packages/design/src/table/__tests__/__snapshots__/index.test.tsx.snap
  packages/design/src/table/__tests__/index.test.tsx
  packages/design/src/table/demo/card-table.tsx
  packages/design/src/table/demo/inner-bordered.tsx
  packages/design/src/table/demo/pro-card-table.tsx
  packages/design/src/table/index.md
  packages/design/src/table/index.tsx
  packages/design/src/table/style/index.ts
Labels: @oceanbase/design, feature, Table

#1037 feat(ui): ProTable add innerBordered prop
  packages/ui/src/ProTable/__tests__/__snapshots__/index.test.tsx.snap
  packages/ui/src/ProTable/__tests__/index.test.tsx
  packages/ui/src/ProTable/demo/bordered.tsx
  packages/ui/src/ProTable/demo/inner-bordered.tsx
  packages/ui/src/ProTable/index.md
  packages/ui/src/ProTable/index.tsx
Labels: @oceanbase/ui, feature, ProTable

#1038 chore(docs): Add changelog for @oceanbase/design@0.4.10 and @oceanbase/ui@0.4.12
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
  packages/design/src/form/demo/form-item-action.tsx
Labels: documentation, @oceanbase/design, @oceanbase/ui, chore, changelog

#1046 feat(ui): Login add passwordOptional and componentProps props
  packages/ui/src/Login/LoginForm.tsx
  packages/ui/src/Login/demo/component-props.tsx
  packages/ui/src/Login/demo/password-optional.tsx
  packages/ui/src/Login/index.less
  packages/ui/src/Login/index.md
Labels: @oceanbase/ui, feature, Login

#1047 improve(ui): Boundary description and button style
  packages/ui/src/Boundary/index.less
Labels: @oceanbase/ui, improvement, Boundary

#1048 chore(docs): Add changelog for @oceanbase/ui@0.4.13
  docs/ui/ui-CHANGELOG.md
Labels: documentation, @oceanbase/ui, chore, changelog

#1049 chore(merge): Merge master branch of @oceanbase/ui@0.4.13
  docs/ui/ui-CHANGELOG.md
  packages/ui/package.json
  packages/ui/src/Boundary/index.less
  packages/ui/src/DateRanger/Ranger.tsx
  packages/ui/src/Login/LoginForm.tsx
  packages/ui/src/Login/demo/component-props.tsx
  packages/ui/src/Login/demo/password-optional.tsx
  packages/ui/src/Login/index.less
  packages/ui/src/Login/index.md
Labels: chore, merge, Feature Branch
