Repository oceanbase/oceanbase-design, pull requests merged in 2025-08, with the labels that each got.

#1121 fix(design): Tag font-size style should work
  packages/design/src/tag/style/index.ts
Labels: @oceanbase/design, bugfix, Tag

#1129 chore(deps): Update deps to latest
  package.json
  packages/design/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: dependencies, @oceanbase/design, @oceanbase/ui, chore

#1130 feat(design): Modal add extra prop
  packages/design/src/modal/Modal.tsx
  packages/design/src/modal/__tests__/__snapshots__/modal.test.tsx.snap
  packages/design/src/modal/__tests__/modal.test.tsx
  packages/design/src/modal/demo/extra.tsx
  packages/design/src/modal/index.md
  packages/design/src/modal/style/index.ts
Labels: @oceanbase/design, Modal, feature

#1131 feat(codemod): style-to-token support antd-style createStyles
  packages/codemod/transforms/__testfixtures__/style-to-token/antd-style.input.js
  packages/codemod/transforms/__testfixtures__/style-to-token/antd-style.output.js
  packages/codemod/transforms/__tests__/style-to-token.test.ts
  packages/codemod/transforms/style-to-token.js
Labels: @oceanbase/codemod, feature

#1132 feat(codemod): cli add --ignore-config args
  packages/codemod/README.md
  packages/codemod/bin/cli.js
  packages/codemod/bin/codemod.ignore
Labels: @oceanbase/codemod, feature

#1148 fix(ui): [date-ranger] keep the panel open on repeat clicks
  packages/ui/src/DateRanger/Ranger.tsx
Labels: @oceanbase/ui, bugfix, DateRanger

#1150 chore(docs): Add changelog for @oceanbase/design@0.4.15 and @oceanbase/ui@0.4.18
  docs/design/design-CHANGELOG.md
  docs/ui/ui-CHANGELOG.md
Labels: documentation, @oceanbase/design, @oceanbase/ui, chore, changelog

#1152 fix(ui): DateRanger defaultValue maybe undefined
  packages/ui/src/DateRanger/PickerPanel.tsx
Labels: @oceanbase/ui, bugfix, DateRanger

#1158 improve(design): Adjust custom font load order
  packages/design/src/global.css
Labels: @oceanbase/design, improvement, font

#1159 fix(design): Descriptions.Item wrapping Typography should work correctly
  packages/design/src/descriptions/demo/debug-typography.tsx
  packages/design/src/descriptions/hooks/useItems.tsx
  packages/design/src/descriptions/index.md
  packages/design/src/descriptions/style/index.ts
  packages/design/src/typography/Link.tsx
  packages/design/src/typography/Paragraph.tsx
  packages/design/src/typography/Text.tsx
  packages/design/src/typography/Title.tsx
Labels: @oceanbase/design, bugfix, Typography, Descriptions

#1161 fix(build): set correct sideEffects to make tree shaking work
  packages/charts/package.json
  packages/design/package.json
  packages/ui/package.json
Labels: @oceanbase/design, @oceanbase/ui, @oceanbase/charts, bugfix
